<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>万众保险业务员端</title>
    <link rel="stylesheet" href="../css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script src="../js/jquery-1.11.1.js"></script>
    <script src="../js/bootstrap.min.js"></script>


    <style>
        li{
            list-style-type: none;
        }
        a{
            color:white;
        }
        a:hover{
            text-decoration:none;
          color: #5bc0de;
        }

     .img-responsive{

         width: 70px;
         height:70px;
         border-radius: 10px;
     }

    </style>
</head>
<body>
<div class="container-fluid">
    <td class="row">
          <div class="col-md-12">
              <h4>1F一年期(含以下)电子保单类产品</h4>
              <table class="table" >

                  <tr>
                      <td class="col-md-1 row">

                          <div class="col-md-12">
                              <a href="introduce/one/safe.html"><img src="../img/insemarket_ttywx.jpg" class="img-responsive"> </a>
                          </div>
                          <div class="col-md-12">
                              团体意外险(16)
                          </div>
                      </td>
                      <td class="col-md-1 row">

                          <div class="col-md-12">
                              <a href="introduce/one/personal.html"><img src="../img/insemarket_grywx.jpg" class="img-responsive"> </a>
                          </div>
                          <div class="col-md-12">
                              个人意外险(13)
                          </div>
                      </td>
                      <td class="col-md-1 row">

                          <div class="col-md-12">
                              <a href="introduce\one\ride.html"><img src="../img/insemarket_jcywx.jpg" class="img-responsive"> </a>
                          </div>
                          <div class="col-md-12">
                              驾乘意外险(8)
                          </div>
                      </td>
                      <td class="col-md-1 row">

                          <div class="col-md-12">
                              <a href="introduce/one/inside_tour.html"><img src="../img/insemarket_gnlyx.jpg" class="img-responsive"> </a>
                          </div>
                          <div class="col-md-12">
                              国内旅行险(5)

                          </div>
                      </td>
                      <td class="col-md-1 row">

                          <div class="col-md-12">
                              <a href="introduce/one/outside_tour.html"><img src="../img/insemarket_jwlxbx.jpg" class="img-responsive"> </a>
                          </div>
                          <div class="col-md-12">
                              境外旅行险(12)
                          </div>
                      </td>
                      <td class="col-md-1 row">

                          <div class="col-md-12">
                              <a href="introduce/one/accident.html"><img src="../img/insemarket_jtbx.jpg" class="img-responsive"> </a>
                          </div>
                          <div class="col-md-12">
                              交通意外险(10)
                          </div>
                      </td>
                      <td class="col-md-1 row">

                          <div class="col-md-12">
                              <a href="introduce/one/personal_safe.html"><img src="../img/insemarket_nvxingbx.jpg" class="img-responsive"> </a>
                          </div>
                          <div class="col-md-12">
                              个人健康险(11)
                          </div>
                      </td>
                      <td class="col-md-1 row">

                          <div class="col-md-12">
                              <a href="introduce/one/big_back.html"><img src="../img/insemarket_zdjbx.jpg" class="img-responsive"> </a>
                          </div>
                          <div class="col-md-12">
                              重大疾病险(1)
                          </div>
                      </td>


                  </tr>
                  <tr>
                      <td class="col-md-1 row">

                          <div class="col-md-12">
                              <a href="introduce/one/employer.html"><img src="../img/insemarket_gzzrbx.jpg" class="img-responsive"> </a>
                          </div>
                          <div class="col-md-12">
                              雇主责任险(8)
                          </div>
                      </td>
                      <td class="col-md-1 row">

                          <div class="col-md-12">
                              <a href="/"><img src="../img/insemarket_gzbx.jpg" class="img-responsive"> </a>
                          </div>
                          <div class="col-md-12">
                              家庭财产险(0)
                          </div>
                      </td>
                      <td class="col-md-1 row">

                          <div class="col-md-12">
                              <a href="introduce/one/children.html"><img src="../img/insemarket_etbx.jpg" class="img-responsive"> </a>
                          </div>
                          <div class="col-md-12">
                              儿童保险(3)
                          </div>
                      </td>
                      <td class="col-md-1 row">

                          <div class="col-md-12">
                              <a href="/"><img src="../img/insemarket_gzzrx.jpg" class="img-responsive"> </a>
                          </div>
                          <div class="col-md-12">
                              公众责任险(0)
                          </div>
                      </td>

                      <td class="col-md-1 row">

                          <div class="col-md-12">
                              <a href="introduce/one/logistics.html"><img src="../img/insemarket_wlbx.jpg" class="img-responsive"> </a>
                          </div>
                          <div class="col-md-12">
                              物流责任险(3)
                          </div>
                      </td>








        <td class="col-md-1 row">

            <div class="col-md-12">
                <a href="introduce/one/project.html"><img src="../img/insemarket_jgx.jpg" class="img-responsive"> </a>
            </div>
            <div class="col-md-12">
                建工一切险(1)
            </div>
        </td>
        </tr>
        <tr><td></td></tr>
        </table>
          </div>


    <div class="col-md-12">
        <h4>2F汽车保险产品</h4>
        <table class="table" >
            <tr><td></td></tr>

    </table>

</div>


    <div class="col-md-12">
        <h4>3F长期寿险电子保单类产品</h4>
        <table class="table" >
            <tr>

                <td class="col-md-1 row">

                    <div class="col-md-12">
                        <a href="introduce/three/invest.html"><img src="../img/insemarket_zdjbbx.jpg" class="img-responsive"> </a>
                    </div>
                    <div class="col-md-12">
                        重大疾病险(1)
                    </div>
                </td>

                <td class="col-md-1 row">

                    <div class="col-md-12">
                        <a href="introduce/three/big_bad.html"><img src="../img/insemarket_cqlcbx.jpg" class="img-responsive"> </a>
                    </div>
                    <div class="col-md-12">
                        投资理财险(1)
                    </div>
                </td>

                <td class="col-md-1 row">


                </td>
                <td class="col-md-1 row"></td>
                <td class="col-md-1 row"></td>
                <td class="col-md-1 row"></td>
                <td class="col-md-1 row"></td>
                <td class="col-md-1 row"></td>
            </tr>



        </table>

    </div>


    <div class="col-md-12">
        <h4>4F其他产品 </h4>
        <table class="table" >
           <tr>
               <td class="col-md-1 row">

                   <div class="col-md-12">
                       <a href="introduce/four/group_accident.html"><img src="../img/insemarket_ttywx.jpg" class="img-responsive"> </a>
                   </div>
                   <div class="col-md-12">
                       团体意外险(1)
                   </div>
               </td>
               <td class="col-md-1 row">

                   <div class="col-md-12">
                       <a href="img/1.jpg"><img src="../img/insemarket_cqlcbx.jpg" class="img-responsive"> </a>
                   </div>
                   <div class="col-md-12">
                       投资理财险(0)
                   </div>
               </td>
               <td class="col-md-1 row">

                   <div class="col-md-12">
                       <a href="introduce/four/health.html"><img src="../img/insemarket_jkbx.jpg" class="img-responsive"> </a>
                   </div>
                   <div class="col-md-12">
                       健康险(2)
                   </div>
               </td>
               <td class="col-md-1 row">

                   <div class="col-md-12">
                       <a href="/"><img src="../img/insemarket_jgx.jpg" class="img-responsive"> </a>
                       
                   </div>
                   <div class="col-md-12">
                      建工险(0)
                   </div>
               </td>
               <td class="col-md-1 row">

                   <div class="col-md-12">
                       <a href="img/1.jpg"><img src="../img/insemarket_ccx.jpg" class="img-responsive"> </a>
                   </div>
                   <div class="col-md-12">
                       财产险(0)
                   </div>
               </td>
               <td class="col-md-1 row">

                   <div class="col-md-12">
                       <a href="img/1.jpg"><img src="../img/insemarket_gzzrbx.jpg" class="img-responsive"> </a>
                   </div>
                   <div class="col-md-12">
                       雇主责任险(0)
                   </div>
               </td>
               <td class="col-md-1 row">

                   <div class="col-md-12">
                       <a href="img/1.jpg"><img src="../img/insemarket_gzzrx.jpg" class="img-responsive"> </a>
                   </div>
                   <div class="col-md-12">
                       公众责任险(0)
                   </div>
               </td>
               <td class="col-md-1 row">

                   <div class="col-md-12">
                       <a href="img/1.jpg"><img src="../img/insemarket_gibaxgsbx.jpg" class="img-responsive"> </a>
                   </div>
                   <div class="col-md-12">
                       安心工程(0)
                   </div>
               </td>

           </tr>
<tr>
    <td class="col-md-1 row">

        <div class="col-md-12">
            <a href="img/1.jpg"><img src="../img/insemarket_zhccx.jpg" class="img-responsive"> </a>
        </div>
        <div class="col-md-12">
            组合财产险(0)
        </div>
    </td>
    <td class="col-md-1 row">

        <div class="col-md-12">
            <a href="../../../img/1.jpg"><img src="../img/insemarket_xybz.jpg" class="img-responsive"> </a>
        </div>
        <div class="col-md-12">
            信用保证险(0)
        </div>
    </td>

</tr>
        </table>

    </div>



</div>
</div>
<script src="js/index1.js"></script>
</body>
</html>