<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>万众保险业务员端</title>
     <link rel="stylesheet" href="../../../css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../../../css/bootstrap.min.css">
    <script src="../../../js/jquery-1.11.1.js"></script>
    <script src="../../../js/bootstrap.min.js"></script>




    <style>
        li{
            list-style-type: none;
        }

        a:hover{
            text-decoration:none;
          color: #5bc0de;
        }


    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row">
    <div class="col-md-11">
	 <h5 style="padding-left: 2%">保险名录/1F一年期(含以下)电子保单类产品/交通意外险</h5>
   
	  </div>
	  
    <div class="col-md-1">
	     <button id="back" class="btn btn-default">返回</button>
	  </div>
   </div>
        <table class="table">

            <tr>
                <td class="container">
                    <h4>安心公共交通工具保险E款</h4>
                    <hr>
                    <pre>
                       保险年龄：18-65周岁
                        保险职业类别：不限职业
                        保险对象：经常乘坐公共交通出行的乘客
                        保险期限： 1年

                        保险责任和保险金额：（责任含意外身故和伤残）
                        飞机： 10万-300万；
                        火车： 10万-100万；
                        轮船： 10万-100万；
                        客运汽车： 10万-100万

                        投保说明：
                        1、本产品在保额范围内可自由组合随意搭配；
                        2、本产品支持个人或单位投保，单位投保每个被保险人独立出单
                    </pre>
                </td>





            </tr>
            <tr>
                <td class="container">
                    <h4>交通意外保险（白银款）</h4>
                    <hr>
                    <pre>

                        保险对象：经常乘坐商业营运的汽车、火车、轮船、飞机的乘客
                        被保险人年龄：1周岁－70周岁
                        保险期限：1年

                        保险责任和保险金额：
                        一、意外身故、残疾、烧伤
                        1、飞机： 400,000元
                        2、火车/地铁/城铁/轻轨： 200,000元
                        3、轮船： 200,000元
                        4、公共汽车/出租车/营运客车： 200,000元
                        二、意外医疗
                        1、门诊/急诊/住院： 20,000元

                        免赔说明：上述保险责任无免赔额，赔付比例为100%

                        其他说明（请仔细阅读以下内容）：
                        1、被保险人必须为1周岁 – 70周岁身体健康、能正常工作或正常生活的自然人
                        2、未满16周岁的未成年人的“意外伤害”的保险金额为10万元，保险费维持不变。（乘坐飞机保障责任不受此限）
                        3、理赔及申请发票的相关材料请在“产品材料”中进行下载
                        4、意外伤害住院津贴：单次事故最长不超过90天，全年累计不超过180天
                        5、本产品人员无法更换
                        6、本产品每人限购1份
                                            </pre>
                </td>

            </tr>

            <tr>
                <td class="container">
                    <h4>交通意外保险（黄金款）</h4>
                    <hr>
                    <pre>
                        保险对象：经常乘坐商业营运的汽车、火车、轮船、飞机的乘客
                        被保险人年龄：1周岁－70周岁

                        保险责任和保险金额：
                        一、意外身故、残疾、烧伤
                        1、飞机： 800,000元
                        2、火车/地铁/城铁/轻轨： 400,000元
                        3、轮船： 400,000元
                        4、公共汽车/出租车/营运客车： 400,000元
                        二、意外医疗
                        1、门诊/急诊/住院： 80,000元
                        三、意外伤害住院津贴： 50元/每天
                        (单次事故最长不超过90天，全年累计不超过180天)

                        免赔说明：上述保险责任无免赔额，赔付比例为100%

                        其他说明（请仔细阅读以下内容）：
                        1、被保险人必须为1周岁 – 70周岁身体健康、能正常工作或正常生活的自然人
                        2、未满16周岁的未成年人的“意外伤害”的保险金额为10万元，保险费维持不变。（乘坐飞机保障责任不受此限）
                        3、理赔及申请发票的相关材料请在“产品材料”中进行下载
                        4、意外伤害住院津贴：单次事故最长不超过90天，全年累计不超过180天
                        5、本产品人员无法更换
                        6、本产品每人限购1份
                    </pre>
                </td>

            </tr>
            <tr>
                <td class="container">
                    <h4>交通意外保险（钻石款）</h4>
                    <hr>
                    <pre>
                        保险对象：经常乘坐商业营运的汽车、火车、轮船、飞机的乘客
                        被保险人年龄：1周岁－70周岁
                        保险期限：1年

                        保险责任和保险金额：
                        一、意外身故、残疾、烧伤
                        1、飞机： 2,000,000元
                        2、火车/地铁/城铁/轻轨： 1,000,000元
                        3、轮船： 1,000,000元
                        4、公共汽车/出租车/营运客车： 1,000,000元
                        二、意外医疗
                        1、门诊/急诊/住院： 200,000元
                        三、意外伤害住院津贴： 100元/每天
                        (单次事故最长不超过90天，全年累计不超过180天)

                        免赔说明：上述保险责任无免赔额，赔付比例为100%

                        其他说明（请仔细阅读以下内容）：
                        1、被保险人必须为1周岁 – 70周岁身体健康、能正常工作或正常生活的自然人
                        2、未满16周岁的未成年人的“意外伤害”的保险金额为10万元，保险费维持不变。（乘坐飞机保障责任不受此限）
                        3、理赔及申请发票的相关材料请在“产品材料”中进行下载
                        4、意外伤害住院津贴：单次事故最长不超过90天，全年累计不超过180天
                        5、本产品人员无法更换
                        6、本产品每人限购1份
                </pre>
                </td>

            </tr>
            <tr>
                <td class="container">
                    <h4>太保航空意外保险</h4>
                    <hr>
                    <pre>
                        1、本产品承保年龄为0-100周岁（含0、100周岁）。
                        2、本产品每人限购份数为2份。
                        3、本产品仅提供电子保单，电子保单一经生成不办理任何形式的变更、注销、退保。
                        4、外籍人士购买本产品只要符合投保规则即可，无其它特殊要求。
                    </pre>
                </td>

            </tr>

            <tr>
                <td class="container">
                    <h4>平安公共交通意外保险计划(2016版)</h4>
                    <hr>
                    <pre>
                       保险对象：持有效票据乘坐民航客机或商业营运的火车、轮船、汽车的乘客
                        被保险人年龄：31天-80周岁
                        保险期限：1年

                        保险责任和保险金额：
                        　1、乘坐客运民航班机死亡、伤残、烧伤：150万
                        　2、乘坐客运轨道交通车辆死亡、伤残、烧伤：60万
                        　3、乘坐客运轮船死亡、伤残、烧伤：60万
                        　4、乘坐客运机动车死亡、伤残、烧伤：30万
                        　5、交通意外医疗：2.5万

                        免赔说明：上述保险责任无免赔额

                        其他说明：18周岁以下人员除民航班机意外以外的累计死亡保险金额最高不得超过10万元
                    </pre>
                </td>

            </tr>

            <tr>
                <td class="container">
                    <h4>安心公共交通工具保险D款</h4>
                    <hr>
                    <pre>
                       保险年龄：18-65周岁
                        保险职业类别：不限职业
                        保险对象：经常乘坐公共交通出行的乘客
                        保险期限： 1年

                        保险责任和保险金额：（责任含意外身故和伤残）
                        飞机： 10万-300万；
                        火车： 10万-100万；
                        轮船： 10万-100万；
                        客运汽车： 10万-100万

                        投保说明：
                        1、本产品在保额范围内可自由组合随意搭配；
                        2、本产品支持个人或单位投保，单位投保每个被保险人独立出单
                    </pre>
                </td>

            </tr>

            <tr>
                <td class="container">
                    <h4>中华联合个人公共交通意外伤害保险</h4>
                    <hr>
                    <pre>
                       保险期限：1年
                        保险对象：持有效票据乘坐民航客机或商业营运的火车、轮船、汽车的乘客
                        被保险人年龄：31天-80周岁

                        保障责任　　　　　　　　　　　　　　　　　　保额（元）　　　　　保费（元）　　　　限购份数
                        乘坐飞机意外身故　　　　　　　　　　　　　　1000000　　　　　　　10　　　　　　　　　5份
                        乘坐客运轨道交通车辆意外身故、伤残　　　　　500000　　　　　　　　9　　　　　　　　　3份
                        乘坐轮船意外身故、伤残　　　　　　　　　　　500000　　　　　　　　9　　　　　　　　　3份
                        乘坐客运汽车意外身故、伤残　　　　　　　　　500000　　　　　　　　60　　　　　　　　 3份

                        投保规则：
                        1、4项保障责任可组合购买，最高可购买3份，同一被保险人可在购买组合产品后，可再增加投保飞机意外保险，飞机意外总份数不得超过5份；
                        2、飞机、客运轨道交通、轮船意外伤害保险可单独购买，飞机最高5份，客运轨道交通、轮船最高3份；
                        3、客运汽车意外保险不可单独购买；

                        特别约定：
                        1、本保单只承担年龄在31天-80周岁被保险人的保险责任，不承担80周岁以上人员的保险责任。
                        2、任何年龄在18周岁以下的被保险人，其以死亡为给付责任的保险金额（包括在所有商业保险公司所购买的保险）超出中国
                        保监会所规定的最高限额：不满10周岁的被保险人，不得超过20万元人民币；已满10周岁但未满18周岁的被保险人，不得超过50万元人民币（航空意外死亡与重大自然灾害意外死亡的保险金额不受此限），保险公司就超过限额的部分不承担保
                        险金给付责任。
                        3、无论持有几份同款保单，保险人对同一被保险人所承担的保险责任飞机意外伤害保险金不超过500万，火车、轮船、汽车
                        意外伤害保险金分别不超过150万。
                    </pre>
                </td>

            </tr>

            <tr>
                <td class="container">
                    <h4>e安心交通工具意外随心保A款</h4>
                    <hr>
                    <pre>
                       投保年龄：年龄在18-65周岁
                        保险期限： 1年
                        投保须知：
                        1、安心保险公司认可医院为全国二级及二级以上公立医院，北京平谷医院除外；
                        2、本保险对因驾乘摩托车、助动车、电动车造成的意外事故，按照保险金额的70%承担意外保险责任；
                    </pre>
                </td>

            </tr>

            <tr>
                <td class="container">
                    <h4>e安心交通工具意外随心保B款</h4>
                    <hr>
                    <pre>
                       投保年龄：年龄在18-65周岁
                        保险期限： 1年
                        投保须知：
                        1、安心保险公司认可医院为全国二级及二级以上公立医院，北京平谷医院除外；
                        2、本保险对因驾乘摩托车、助动车、电动车造成的意外事故，按照保险金额的70%承担意外保险责任；
                    </pre>
                </td>

            </tr>


        </table>
    </div>
</div>
<script src="../../../js/index1.js"></script>
</body>
</html>