<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>万众保险业务员端</title>
     <link rel="stylesheet" href="../../../css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../../../css/bootstrap.min.css">
    <script src="../../../js/jquery-1.11.1.js"></script>
    <script src="../../../js/bootstrap.min.js"></script>
    <style>
        li{
            list-style-type: none;
        }

        a:hover{
            text-decoration:none;
          color: #5bc0de;
        }


    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row">
     <div class="col-md-11">
	 <h5 style="padding-left: 2%">保险名录/1F一年期(含以下)电子保单类产品/重大疾病险</h5>
   
  
	  </div>
	  
    <div class="col-md-1">
	     <button id="back" class="btn btn-default">返回</button>
	  </div>
   </div>
    <script src="../../../js/index1.js"></script>
        <table class="table">

            <tr>
                <td class="container">
                    <h4>永安安优一生险</h4>
                    <hr>
                    <pre>
                        保险对象：出生满30天- 65周岁，续保最高可到85周岁
                        保险期限：1年
                        保险责任：癌症确诊及治疗费用、癌症二次诊疗费用、癌症住院补贴
                        保险金额：
                        　　　　　　　　　　　　　　经济型　　　　　　　舒适型　　　　　　尊享型
                        ——————————————————————————————————————————
                        保险金额：　　　　　　　　　10万　　　　　　　　20万　　　　　　　30万
                        分项赔付限额
                        靶向疗法：　　　　　　保险金额的50%　　　　保险金额的50%　　　保险金额的50%　
                        中医疗法：　　　　　　保险金额的10%　　　　保险金额的10%　　　保险金额的10%
                        终身赔付限额　　　　　　　　　50万　　　　　　　100万　　　　　　150万

                        ——————————————————————————————————————————
                        癌症住院日补贴：　　　200元／住院日　　　　400元／住院日　　　600元／住院日

                        投保须知：
                        1.每一被保险人限投保一份；
                        2.首次投保时51周岁以下被保险人每一保险期间癌症医疗 保险金额以30万元为上限；
                        3.首次投保时51周岁及以上被保险人，每一保险期间癌症医疗保险金额以10万元为上限；
                        4.每一被保险人终生赔付限额，为每一保险期间癌症医疗保险金额的5倍。
                        等待期：90天，上年投保人员连续续保时无等待期。
                    </pre>
                </td>





            </tr>



        </table>
    </div>
</div>

</body>
</html>