<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>万众保险业务员端</title>
     <link rel="stylesheet" href="../../../css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../../../css/bootstrap.min.css">
    <script src="../../../js/jquery-1.11.1.js"></script>
    <script src="../../../js/bootstrap.min.js"></script>



    <style>
        li{
            list-style-type: none;
        }

        a:hover{
            text-decoration:none;
          color: #5bc0de;
        }


    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row">
     <div class="col-md-11">
	 <h5 style="padding-left: 2%">保险名录/1F一年期(含以下)电子保单类产品/儿童保险</h5>
   
  
	  </div>
	  
    <div class="col-md-1">
	     <button id="back" class="btn btn-default">返回</button>
	  </div>
   </div>
    <script src="../../../js/index1.js"></script>
    
        <table class="table">

            <tr>
                <td class="container">
                    <h4>平安少儿综合保险计划(2016版)</h4>
                    <hr>
                    <pre>
                       保险对象：出生30天且健康出院—16周岁的未成年人
                        被保险人年龄：30天—16周岁
                        保险期限：1年

                        保险责任和保险金额：
                        1、意外伤害（身故/残疾/烧伤）：10万-50万
                        2、疾病身故：2万-5万
                        　3、少儿重大疾病：3万-5万
                        4、意外医疗（门诊/急诊/住院）：1万-5万
                        5、意外住院津贴：50-100元/天


                        免赔说明：意外医疗每次事故每人扣除免赔额100元后按90%赔付
                    </pre>
                </td>





            </tr>
            <tr>
                <td class="container">
                    <h4>e安心少儿意外随心保A款</h4>
                    <hr>
                    <pre>

                       投保对象：28天-18周岁(不含)的未成年人
                        保险期限:1年
                        投保须知：
                        1、不按实际职业类别投保的，保险公司不承担保险责任；
                        2、安心保险公司认可医院为全国二级及二级以上公立医院，北京平谷医院除外；
                        3、本保险对因驾乘摩托车、助动车、电动车造成的意外事故，按照保险金额的70%承担意外保险责任；
                        4、疾病住院的等待期为90天，疾病住院的医疗费用免赔300元；扣除免赔额以后，有社保100%赔付，无社保80%赔付；
                        5、根据保监会的相关规定，对于父母为其未成年子女投保人身保险，在被保险人成年之前，各保险公司合同约定的被保险人死亡给付的保险金额总和、被保险人死亡时各保险公司实际给付的保险金总和按照以下限额执行：
                        （1）对于被保险人不满10周岁的，不得超过人民币20万元。
                        （2）对于被保险人已满10周岁但未满18周岁的，不得超过人民币50万元。
                                            </pre>
                </td>

            </tr>

            <tr>
                <td class="container">
                    <h4>e安心少儿意外随心保B款</h4>
                    <hr>
                    <pre>
                        投保对象：28天-18周岁(不含)的未成年人
                        保险期限:1年
                        投保须知：
                        1、不按实际职业类别投保的，保险公司不承担保险责任；
                        2、安心保险公司认可医院为全国二级及二级以上公立医院，北京平谷医院除外；
                        3、本保险对因驾乘摩托车、助动车、电动车造成的意外事故，按照保险金额的70%承担意外保险责任；
                    </pre>
                </td>

            </tr>


        </table>
    </div>
</div>

</body>
</html>