<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>万众保险业务员端</title>
   <link rel="stylesheet" href="../../../css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../../../css/bootstrap.min.css">
    <script src="../../../js/jquery-1.11.1.js"></script>
    <script src="../../../js/bootstrap.min.js"></script>


    <style>
        li{
            list-style-type: none;
        }

        a:hover{
            text-decoration:none;
          color: #5bc0de;
        }


    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row">
    <div class="col-md-11">
	 <h5 style="padding-left: 2%">保险名录/1F一年期(含以下)电子保单类产品/雇主责任险</h5>
   
  
	  </div>
	  
    <div class="col-md-1">
	     <button id="back" class="btn btn-default">返回</button>
	  </div>
   </div>
        <table class="table">

            <tr>
                <td class="container">
                    <h4>安心雇主责任保险D款</h4>
                    <hr>
                    <pre>
                       保险年龄：16-65周岁
                        保险职业类别：1-6类职业
                        保险对象：中华人民共和国境内（不包括香港、澳门和台湾地区）的各类企业、有雇工的个体工商户、国家机关、事业单位、社会团体、学校等
                        保险期限：1年

                        保险责任和保险金额：
                        意外伤害最高保额：1-2类职业最高100万，3-4类职业最高80万，5-6类职业最高60万；
                        意外伤害医疗最高保额：不超过意外伤害保额的20%；
                        住院每日津贴：60-180元/天，5-6类职业最高120元/天，3天免赔
                        误工费：100元/天，5天免赔

                        投保须知：
                        1、年满16周岁（含）至18周岁（不含）未成年人意外伤害保险责任最高保险金额不超高50万元；
                        2、本保险1-6类职业均可投保，不按实际职业类别投保的，保险公司不承担保险责任；
                        3、误工费100元/天，每次最多90天，全年限180天，需选择投保；
                        4、每张保单总保额累计不超过8000万元，超过需要拆单投保。
                        5、保险公司认可医院为二级及以上公立医院，北京平谷地区医院除外；
                        6、本保险每张保单最低承保人数5人，投保批改全线上操作，无换人比例限制；
                        7、特殊行业投保人需参照“特殊行业承保政策（参见产品简介）”投保。
                    </pre>
                </td>





            </tr>
            <tr>
                <td class="container">
                    <h4>安心雇主责任保险C款</h4>
                    <hr>
                    <pre>
                    保险年龄：16-65周岁
                    保险职业类别：1-6类职业
                    保险对象：中华人民共和国境内（不包括香港、澳门和台湾地区）的各类企业、有雇工的个体工商户、国家机关、事业单位、社会团体、学校等
                    保险期限：1年

                    保险责任和保险金额：
                    意外伤害最高保额：1-2类职业最高100万，3-4类职业最高80万，5-6类职业最高60万；
                    意外伤害医疗最高保额：不超过意外伤害保额的20%；
                    住院每日津贴：60-180元/天，5-6类职业最高120元/天，3天免赔
                    误工费：100元/天，5天免赔

                    投保须知：
                    1、年满16周岁（含）至18周岁（不含）未成年人意外伤害保险责任最高保险金额不超高50万元；
                    2、本保险1-6类职业均可投保，不按实际职业类别投保的，保险公司不承担保险责任；
                    3、误工费100元/天，每次最多90天，全年限180天，需选择投保；
                    4、每张保单总保额累计不超过8000万元，超过需要拆单投保。
                    5、保险公司认可医院为二级及以上公立医院，北京平谷地区医院除外；
                    6、本保险每张保单最低承保人数5人，投保批改全线上操作，无换人比例限制；
                    7、特殊行业投保人需参照“特殊行业承保政策（参见产品简介）”投保。
                                            </pre>
                </td>

            </tr>

            <tr>
                <td class="container">
                    <h4>平安财雇主责任险2017版D款</h4>
                    <hr>
                    <pre>
                        保险责任：
                        1、工伤或意外身故保障：10万-60万
                        2、工伤或意外医疗（门诊、急诊、住院）：最高6万或意外身故保额的20%，以低着为准（意外医疗：根据免赔额和免赔率设置调整系数）
                        3、附加24小时意外扩展条款：身故和医疗保障同主险保额
                        4、每日住院现金保障保险：100元/天
                        5、误工费：100元/天，最长不超过180天，与身故伤残共享保额
                        6、附加伤残等级赔付条款：一级：100%；二级：80%；三级：70%；四级：60%；五级：50%；六级：40%；七级：30%；八级：20%；九级：10%；十级：5%
                        *保单在保险期限内每次事故及累计赔偿限额500万；
                        *附加及扩展条款保额同主险保额，误工费用补充与主险共享保额。


                        投保规则：
                        1、保险期限1年；
                        2、投保年龄为16至64周岁；
                        3、可投保的人员职业等级为1-5类；
                        4、各职业等级保额限制：
                        意外伤害最高保额：1-2类职业最多可购买6份（60万），3-4类职业最多可购买5份（50万）；5类职业最多可购买4份（40万）；
                        意外伤害最低保额：10万
                        意外医疗最高投保份数参照意外伤害部分；6万或意外身故保额的20%，以低者为准；
                        意外津贴最高保额：100元/天；
                        5、保单特别约定：未按实际职业类别投保，保险人不承担赔偿责任；
                        6、团单5人起保，可以人员变更，需在业务系统中做保全
                        7、伤残鉴定标准为工伤标准，赔付比例为工伤标准，购买附加伤残等级赔付条款后按约定标准赔付。
                        8、报价不涉及任何2米以上高处作业人员；
                        9、针对《职业分类表》中未涉及的行业，标注为拒保职业类别的，都不能投保。
                    </pre>
                </td>

            </tr>
            <tr>
                <td class="container">
                    <h4>安心雇主责任保险B款</h4>
                    <hr>
                    <pre>
                        保险年龄：16-65周岁
                        保险职业类别：1-6类职业
                        保险对象：中华人民共和国境内（不包括香港、澳门和台湾地区）的各类企业、有雇工的个体工商户、国家机关、事业单位、社会团体、学校等
                        保险期限：1年

                        保险责任和保险金额：
                        意外伤害最高保额：1-2类职业最高100万，3-4类职业最高80万，5-6类职业最高60万；
                        意外伤害医疗最高保额：不超过意外伤害保额的20%；
                        住院每日津贴：60-180元/天，5-6类职业最高120元/天，3天免赔
                        误工费：100元/天，5天免赔

                        投保须知：
                        1、年满16周岁（含）至18周岁（不含）未成年人意外伤害保险责任最高保险金额不超高50万元；
                        2、本保险1-6类职业均可投保，不按实际职业类别投保的，保险公司不承担保险责任；
                        3、误工费100元/天，每次最多90天，全年限180天，需选择投保；
                        4、每张保单总保额累计不超过8000万元，超过需要拆单投保。
                        5、保险公司认可医院为二级及以上公立医院，北京平谷地区医院除外；
                        6、本保险每张保单最低承保人数5人，投保批改全线上操作，无换人比例限制；
                        7、特殊行业投保人需参照“特殊行业承保政策（参见产品简介）”投保。
                </pre>
                </td>

            </tr>
            <tr>
                <td class="container">
                    <h4>平安财雇主责任险2017版A款</h4>
                    <hr>
                    <pre>
                        保险责任：
                        1、工伤或意外身故保障：10万-60万
                        2、工伤或意外医疗（门诊、急诊、住院）：最高6万或意外身故保额的20%，以低着为准（意外医疗：根据免赔额和免赔率设置调整系数）
                        3、附加24小时意外扩展条款：身故和医疗保障同主险保额
                        4、每日住院现金保障保险：100元/天
                        5、误工费：100元/天，最长不超过180天，与身故伤残共享保额
                        6、附加伤残等级赔付条款：一级：100%；二级：80%；三级：70%；四级：60%；五级：50%；六级：40%；七级：30%；八级：20%；九级：10%；十级：5%
                        *保单在保险期限内每次事故及累计赔偿限额500万；
                        *附加及扩展条款保额同主险保额，误工费用补充与主险共享保额。


                        投保规则：
                        1、保险期限1年；
                        2、投保年龄为16至64周岁；
                        3、可投保的人员职业等级为1-5类；
                        4、各职业等级保额限制：
                        意外伤害最高保额：1-2类职业最多可购买6份（60万），3-4类职业最多可购买5份（50万）；5类职业最多可购买4份（40万）；
                        意外伤害最低保额：10万
                        意外医疗最高投保份数参照意外伤害部分；6万或意外身故保额的20%，以低者为准；
                        意外津贴最高保额：100元/天；
                        5、保单特别约定：未按实际职业类别投保，保险人不承担赔偿责任；
                        6、团单5人起保，可以人员变更，需在业务系统中做保全
                        7、伤残鉴定标准为工伤标准，赔付比例为工伤标准，购买附加伤残等级赔付条款后按约定标准赔付。
                        8、报价不涉及任何2米以上高处作业人员；
                        9、针对《职业分类表》中未涉及的行业，标注为拒保职业类别的，都不能投保。
                    </pre>
                </td>

            </tr>

            <tr>
                <td class="container">
                    <h4>平安财雇主责任险2017版B款</h4>
                    <hr>
                    <pre>
                       保险责任：
                        1、工伤或意外身故保障：10万-60万
                        2、工伤或意外医疗（门诊、急诊、住院）：最高6万或意外身故保额的20%，以低着为准（意外医疗：根据免赔额和免赔率设置调整系数）
                        3、附加24小时意外扩展条款：身故和医疗保障同主险保额
                        4、每日住院现金保障保险：100元/天
                        5、误工费：100元/天，最长不超过180天，与身故伤残共享保额
                        6、附加伤残等级赔付条款：一级：100%；二级：80%；三级：70%；四级：60%；五级：50%；六级：40%；七级：30%；八级：20%；九级：10%；十级：5%
                        *保单在保险期限内每次事故及累计赔偿限额500万；
                        *附加及扩展条款保额同主险保额，误工费用补充与主险共享保额。


                        投保规则：
                        1、保险期限1年；
                        2、投保年龄为16至64周岁；
                        3、可投保的人员职业等级为1-5类；
                        4、各职业等级保额限制：
                        意外伤害最高保额：1-2类职业最多可购买6份（60万），3-4类职业最多可购买5份（50万）；5类职业最多可购买4份（40万）；
                        意外伤害最低保额：10万
                        意外医疗最高投保份数参照意外伤害部分；6万或意外身故保额的20%，以低者为准；
                        意外津贴最高保额：100元/天；
                        5、保单特别约定：未按实际职业类别投保，保险人不承担赔偿责任；
                        6、团单5人起保，可以人员变更，需在业务系统中做保全
                        7、伤残鉴定标准为工伤标准，赔付比例为工伤标准，购买附加伤残等级赔付条款后按约定标准赔付。
                        8、报价不涉及任何2米以上高处作业人员；
                        9、针对《职业分类表》中未涉及的行业，标注为拒保职业类别的，都不能投保。
                    </pre>
                </td>

            </tr>

            <tr>
                <td class="container">
                    <h4>平安财雇主责任险2017版C款</h4>
                    <hr>
                    <pre>
                       保险责任：
                        1、工伤或意外身故保障：10万-60万
                        2、工伤或意外医疗（门诊、急诊、住院）：最高6万或意外身故保额的20%，以低着为准（意外医疗：根据免赔额和免赔率设置调整系数）
                        3、附加24小时意外扩展条款：身故和医疗保障同主险保额
                        4、每日住院现金保障保险：100元/天
                        5、误工费：100元/天，最长不超过180天，与身故伤残共享保额
                        6、附加伤残等级赔付条款：一级：100%；二级：80%；三级：70%；四级：60%；五级：50%；六级：40%；七级：30%；八级：20%；九级：10%；十级：5%
                        *保单在保险期限内每次事故及累计赔偿限额500万；
                        *附加及扩展条款保额同主险保额，误工费用补充与主险共享保额。


                        投保规则：
                        1、保险期限1年；
                        2、投保年龄为16至64周岁；
                        3、可投保的人员职业等级为1-5类；
                        4、各职业等级保额限制：
                        意外伤害最高保额：1-2类职业最多可购买6份（60万），3-4类职业最多可购买5份（50万）；5类职业最多可购买4份（40万）；
                        意外伤害最低保额：10万
                        意外医疗最高投保份数参照意外伤害部分；6万或意外身故保额的20%，以低者为准；
                        意外津贴最高保额：100元/天；
                        5、保单特别约定：未按实际职业类别投保，保险人不承担赔偿责任；
                        6、团单5人起保，可以人员变更，需在业务系统中做保全
                        7、伤残鉴定标准为工伤标准，赔付比例为工伤标准，购买附加伤残等级赔付条款后按约定标准赔付。
                        8、报价不涉及任何2米以上高处作业人员；
                        9、针对《职业分类表》中未涉及的行业，标注为拒保职业类别的，都不能投保。
                    </pre>
                </td>

            </tr>

            <tr>
                <td class="container">
                    <h4>安心雇主责任保险A款</h4>
                    <hr>
                    <pre>
                        保险年龄：16-65周岁
                        保险职业类别：1-6类职业
                        保险对象：中华人民共和国境内（不包括香港、澳门和台湾地区）的各类企业、有雇工的个体工商户、国家机关、事业单位、社会团体、学校等
                        保险期限：1年

                        保险责任和保险金额：
                        意外伤害最高保额：1-2类职业最高100万，3-4类职业最高80万，5-6类职业最高60万；
                        意外伤害医疗最高保额：不超过意外伤害保额的20%；
                        住院每日津贴：60-180元/天，5-6类职业最高120元/天，3天免赔
                        误工费：100元/天，5天免赔

                        投保须知：
                        1、年满16周岁（含）至18周岁（不含）未成年人意外伤害保险责任最高保险金额不超高50万元；
                        2、本保险1-6类职业均可投保，不按实际职业类别投保的，保险公司不承担保险责任；
                        3、误工费100元/天，每次最多90天，全年限180天，需选择投保；
                        4、每张保单总保额累计不超过8000万元，超过需要拆单投保。
                        5、保险公司认可医院为二级及以上公立医院，北京平谷地区医院除外；
                        6、本保险每张保单最低承保人数5人，投保批改全线上操作，无换人比例限制；
                        7、特殊行业投保人需参照“特殊行业承保政策（参见产品简介）”投保。
                    </pre>
                </td>

            </tr>




        </table>
    </div>
</div>
<script src="../../../js/index1.js"></script>

</body>
</html>