<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>万众保险业务员端</title>
   <link rel="stylesheet" href="../../../css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../../../css/bootstrap.min.css">
    <script src="../../../js/jquery-1.11.1.js"></script>
    <script src="../../../js/bootstrap.min.js"></script>



    <style>
        li{
            list-style-type: none;
        }

        a:hover{
            text-decoration:none;
          color: #5bc0de;
        }


    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row">
    <div class="col-md-11">
	 <h5 style="padding-left: 2%">保险名录/1F一年期(含以下)电子保单类产品/国内旅行险</h5>
   
  
	  </div>
	  
    <div class="col-md-1">
	     <button id="back" class="btn btn-default">返回</button>
	  </div>
   </div>
        <table class="table">

            <tr>
                <td class="container">
                    <h4>国内普通型旅行险</h4>
                    <hr>
                    <pre>
                       保险对象：境内旅游、探亲、培训、商务等人员
                        被保险人年龄：0-80周岁
                        保险期限：1-15天

                        保险责任、保险金额、保险费：见产品简介

                        其他说明：不承保高风险运动
                    </pre>
                </td>





            </tr>
            <tr>
                <td class="container">
                    <h4>国内扩展型旅行险</h4>
                    <hr>
                    <pre>

                        保险对象：境内旅游（含高风险运动）、探亲、培训、商务等人员
                        被保险人年龄：0-80周岁
                        保险期限：1-15天

                        保险责任、保险金额、保险费：见产品简介

                        其他说明：扩展承保高风险运动
                                            </pre>
                </td>

            </tr>

            <tr>
                <td class="container">
                    <h4>国内高原型旅行险</h4>
                    <hr>
                    <pre>
                       保险对象：境内旅游（高原路线，含高风险运动）、探亲、培训、商务等人员
                        被保险人年龄：0-80周岁
                        保险期限：1-15天

                        保险责任、保险金额、保险费：见产品简介

                        其他说明：扩展承保高风险运动，扩展承保高原反应医疗保险责任
                    </pre>
                </td>

            </tr>
            <tr>
                <td class="container">
                    <h4>平安e行神州境内旅游险(2016版)</h4>
                    <hr>
                    <pre>
                       保险对象：境内旅游（含高风险运动）、探亲、培训、商务等人员

                        被保险人年龄：0 — 80周岁

                        保险期限：1 — 30天

                        保险责任、保险金额、保险费：见产品简介

                        其他说明：扩展承保高风险运动

                        24小时全球援助热线：欧乐救援（86）10-84416636
                </pre>
                </td>

            </tr>
            <tr>
                <td class="container">
                    <h4>太保境内旅游意外伤害保险（2016版）</h4>
                    <hr>
                    <pre>
                       保险对象：境内旅行、探亲、培训、商务旅行等人员
                        被保险人年龄：1周岁—80周岁
                        保险期限：1-14天
                        保险责任、保险金额：
                        1.	意外伤害（身故／伤残／烧伤）：5万-50万
                        2.	意外医疗（门诊／急诊／住院）：1万-10万
                        3.	意外住院津贴：10元/天-100元/天
                        4.	急性病身故：2万-10万
                        5.	高风险运动意外伤害（身故／伤残／烧伤）：自动同主险
                        6.	乘坐客运机动车（身故／伤残／烧伤）：5万-50万
                        7.	乘坐客运轨道交通车辆（身故／伤残／烧伤）：5万-50万
                        8.	乘坐客运轮船（身故／伤残／烧伤）：5万-50万
                        9.	乘坐客运民航班机（身故／伤残／烧伤）：5万-50万
                        保险费：1天低至0.75元
                        特别提醒：
                        1、本产品不扩展高原行及自由行
                        2、本产品扩展高风险运动
                        3、本产品每人限购一份
                    </pre>
                </td>

            </tr>



        </table>
    </div>
</div>
<script src="../../../js/index1.js"></script>
</body>
</html>