<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>万众保险业务员端</title>
    <link rel="stylesheet" href="../../../css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../../../css/bootstrap.min.css">
    <script src="../../../js/jquery-1.11.1.js"></script>
    <script src="../../../js/bootstrap.min.js"></script>


    <style>
        li{
            list-style-type: none;
        }

        a:hover{
            text-decoration:none;
          color: #5bc0de;
        }


    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row">
     <div class="col-md-11">
	 <h5 style="padding-left: 2%">保险名录/1F一年期(含以下)电子保单类产品/物流责任险</h5>
   
  
	  </div>
	  
    <div class="col-md-1">
	     <button id="back" class="btn btn-default">返回</button>
	  </div>
   </div>
        <table class="table">

            <tr>
                <td class="container">
                    <h4>太平公路货物承运人责任保险A款</h4>
                    <hr>
                    <pre>
                       保险期限：1年
                        限购份数：1份
                        保障责任：
                        1、火灾、爆炸
                        2、在运输过程中发生车辆碰撞、倾覆
                        3、因发生上述意外事故而造成被保险货物的散失


                        车辆类型 单次运输赔偿限额/车 累计赔偿限额/车 保费
                        10吨以下货车 50万 100万 2320

                        10吨以上& 100万 200万 3980
                        10吨以上货车 150万 300万 5500
                        200万 400万 6000


                        除外货物
                        1、活生动植物、鲜活货物、冷冻品等易变质物品；
                        2、货币、票证、有价证券、文件、账册、图表、技术资料、电脑资料、武器弹药以及其他无法鉴定价值的财产；
                        3、艺术品、金银、珠宝、钻石、玉器、文物古玩、手表、红木家具等贵重物品；
                        4、枪支弹药、易燃易爆危险品及其他违禁物品；
                        5、重大件机械设备——任何机机械设备如果满足以下条件之一，应视为重大件机械设备：
                        a.任一部件由于体积或重量的原因必须由特殊运输工具运输；
                        b.任一部件包括包装不能放进40英尺标准集装箱或公路平板车，即超过12米长、2.5米宽或2.5米高；
                        c.任一部件由于本身的特性必须特殊处理，如要求特殊的绑扎固定及保持重心的平衡。
                        6、精密仪器或设备——任何仪器或设备如果满足以下条件之一，应视为精密仪器或设备：
                        a.运输过程中对该仪器或设备的平衡、稳定、防震、防尘、搬运倾斜角度等有特殊严格要求；
                        b.仪器或设备受损后很难找到配件，必须运回原厂修理或很难修复；
                        c.单件仪器或设备保额超过人民币100万元对运输有严格要求。
                        7、汽车，船舶；
                        8、易腐品、易蛀品、农产品，如果仁、花生、玉米、豆类、大小麦、豆粕、鱼粉、菜籽饼、地瓜干、木薯干、肉类、蛋类、蔬菜、水果类等；
                        9、玻璃制品、陶瓷制品、泥及石膏制品、石材类等易碎物品；
                        10、旧品、二手品、展览后之展品和陈列品等无法确定其价值的货品。

                        特别约定
                        1、承保区域：中华人民共和国境内（港、澳、台、西藏、新疆、青海除外），在保单覆盖地域范围以外地区发生的事故及造成的损失均为
                        本保单除外责任；"
                        2、承运车辆必须符合道路/桥梁/隧道/立交桥/限宽门（桩）等等各类道路设施的通行规定或要求，否则因此造成的任何损失均为除外责任；
                        3、拖车、挂车投保时需同时列明拖、挂车车牌号，一辆拖车匹配不超过2辆挂车；
                        4、在任何情况下，保险人不对被保险人承运的“不承保货物”的损失进行认定和赔付，也不对“不承保货物”造成的其他货物的损失进行认定和赔付；"
                        5、载重/牵引吨位在10吨以上的车辆，仅限投保限额为100万（含）以上的产品，如果载重/牵引吨位在10吨以上的车辆投保限额为100万
                        以下的产品，保险公司按：实际投保责任限额/100万责任限额×实际损失金额，进行比例赔付；"
                        6、投保车辆须具备合格驾驶证、行驶证及运输货品的营运证，否则保险人不负责赔偿造成的任何损失、费用及责任；
                        7、损失金额在赔偿限额以内的，按照定损金额扣除免赔； 损失金额超过赔偿限额的，按照赔偿限额扣除免赔；
                        8、法律费用：每次事故赔偿限额不超过保单约定每次赔偿限额的20%，累计赔偿限额不超过保单约定累计赔偿限额的20%；
                        9、保险合同双方，如任何一方解除合同，需提前15天通知对方，并按短期费率计算退保保费；
                        10、无论持有几份同类或同款保单，保险人对同一车辆单程运输所承担的保险责任以投保时所选的最大单张保单限额为限，超过部分无效
                    </pre>
                </td>





            </tr>
            <tr>
                <td class="container">
                    <h4>太平公路货物承运人责任保险B款</h4>
                    <hr>
                    <pre>

                        保险期限：1年
                        限购份数：1份
                        保障责任：
                        1、火灾、爆炸
                        2、在运输过程中发生车辆碰撞、倾覆
                        3、因发生上述意外事故而造成被保险货物的散失


                        车辆类型 单次运输赔偿限额/车 累计赔偿限额/车 保费
                        10吨以下货车 50万 100万 2460

                        10吨以上& 100万 200万 4600
                        10吨以上货车 150万 300万 6380
                        200万 400万 6980


                        除外货物
                        1、活生动植物、鲜活货物、冷冻品等易变质物品；
                        2、货币、票证、有价证券、文件、账册、图表、技术资料、电脑资料、武器弹药以及其他无法鉴定价值的财产；
                        3、艺术品、金银、珠宝、钻石、玉器、文物古玩、手表、红木家具等贵重物品；
                        4、枪支弹药、易燃易爆危险品及其他违禁物品；
                        5、重大件机械设备——任何机机械设备如果满足以下条件之一，应视为重大件机械设备：
                        a.任一部件由于体积或重量的原因必须由特殊运输工具运输；
                        b.任一部件包括包装不能放进40英尺标准集装箱或公路平板车，即超过12米长、2.5米宽或2.5米高；
                        c.任一部件由于本身的特性必须特殊处理，如要求特殊的绑扎固定及保持重心的平衡。
                        6、精密仪器或设备——任何仪器或设备如果满足以下条件之一，应视为精密仪器或设备：
                        a.运输过程中对该仪器或设备的平衡、稳定、防震、防尘、搬运倾斜角度等有特殊严格要求；
                        b.仪器或设备受损后很难找到配件，必须运回原厂修理或很难修复；
                        c.单件仪器或设备保额超过人民币100万元对运输有严格要求。
                        7、汽车，船舶；
                        8、易腐品、易蛀品、农产品，如果仁、花生、玉米、豆类、大小麦、豆粕、鱼粉、菜籽饼、地瓜干、木薯干、肉类、蛋类、蔬菜、水果类等；
                        9、玻璃制品、陶瓷制品、泥及石膏制品、石材类等易碎物品；
                        10、旧品、二手品、展览后之展品和陈列品等无法确定其价值的货品。

                        特别约定
                        1、承保区域：中华人民共和国境内（港、澳、台、西藏、新疆、青海除外），在保单覆盖地域范围以外地区发生的事故及造成的损失均为
                        本保单除外责任；
                        2、承运车辆必须符合道路/桥梁/隧道/立交桥/限宽门（桩）等等各类道路设施的通行规定或要求，否则因此造成的任何损失均为除外责任；
                        3、拖车、挂车投保时需同时列明拖、挂车车牌号，一辆拖车匹配不超过2辆挂车；
                        4、在任何情况下，保险人不对被保险人承运的“不承保货物”的损失进行认定和赔付，也不对“不承保货物”造成的其他货物的损失进行认定和赔付；
                        5、载重/牵引吨位在10吨以上的车辆，仅限投保限额为100万（含）以上的产品，如果载重/牵引吨位在10吨以上的车辆投保限额为100万
                        以下的产品，保险公司按：实际投保责任限额/100万责任限额×实际损失金额，进行比例赔付；
                        6、投保车辆须具备合格驾驶证、行驶证及运输货品的营运证，否则保险人不负责赔偿造成的任何损失、费用及责任；
                        7、损失金额在赔偿限额以内的，按照定损金额扣除免赔； 损失金额超过赔偿限额的，按照赔偿限额扣除免赔；
                        8、法律费用：每次事故赔偿限额不超过保单约定每次赔偿限额的20%，累计赔偿限额不超过保单约定累计赔偿限额的20%；
                        9、保险合同双方，如任何一方解除合同，需提前15天通知对方，并按短期费率计算退保保费；
                        10、无论持有几份同类或同款保单，保险人对同一车辆单程运输所承担的保险责任以投保时所选的最大单张保单限额为限，超过部分无效
                                            </pre>
                </td>

            </tr>

            <tr>
                <td class="container">
                    <h4>太平公路货物承运人责任保险C款</h4>
                    <hr>
                    <pre>
                       保险期限：1年
                        限购份数：1份
                        保障责任：
                        1、火灾、爆炸
                        2、在运输过程中发生车辆碰撞、倾覆
                        3、因发生上述意外事故而造成被保险货物的散失


                        车辆类型 单次运输赔偿限额/车 累计赔偿限额/车 保费
                        10吨以下货车 50万 100万 2880

                        10吨以上& 100万 200万 5480
                        10吨以上货车 150万 300万 7480
                        200万 400万 7980


                        除外货物
                        1、活生动植物、鲜活货物、冷冻品等易变质物品；
                        2、货币、票证、有价证券、文件、账册、图表、技术资料、电脑资料、武器弹药以及其他无法鉴定价值的财产；
                        3、艺术品、金银、珠宝、钻石、玉器、文物古玩、手表、红木家具等贵重物品；
                        4、枪支弹药、易燃易爆危险品及其他违禁物品；
                        5、重大件机械设备——任何机机械设备如果满足以下条件之一，应视为重大件机械设备：
                        a.任一部件由于体积或重量的原因必须由特殊运输工具运输；
                        b.任一部件包括包装不能放进40英尺标准集装箱或公路平板车，即超过12米长、2.5米宽或2.5米高；
                        c.任一部件由于本身的特性必须特殊处理，如要求特殊的绑扎固定及保持重心的平衡。
                        6、精密仪器或设备——任何仪器或设备如果满足以下条件之一，应视为精密仪器或设备：
                        a.运输过程中对该仪器或设备的平衡、稳定、防震、防尘、搬运倾斜角度等有特殊严格要求；
                        b.仪器或设备受损后很难找到配件，必须运回原厂修理或很难修复；
                        c.单件仪器或设备保额超过人民币100万元对运输有严格要求。
                        7、汽车，船舶；
                        8、易腐品、易蛀品、农产品，如果仁、花生、玉米、豆类、大小麦、豆粕、鱼粉、菜籽饼、地瓜干、木薯干、肉类、蛋类、蔬菜、水果类等；
                        9、玻璃制品、陶瓷制品、泥及石膏制品、石材类等易碎物品；
                        10、旧品、二手品、展览后之展品和陈列品等无法确定其价值的货品。

                        特别约定
                        1、承保区域：中华人民共和国境内（港、澳、台、西藏、新疆、青海除外），在保单覆盖地域范围以外地区发生的事故及造成的损失均为
                        本保单除外责任；
                        2、承运车辆必须符合道路/桥梁/隧道/立交桥/限宽门（桩）等等各类道路设施的通行规定或要求，否则因此造成的任何损失均为除外责任；
                        3、拖车、挂车投保时需同时列明拖、挂车车牌号，一辆拖车匹配不超过2辆挂车；
                        4、在任何情况下，保险人不对被保险人承运的“不承保货物”的损失进行认定和赔付，也不对“不承保货物”造成的其他货物的损失进行认定和赔付；
                        5、载重/牵引吨位在10吨以上的车辆，仅限投保限额为100万（含）以上的产品，如果载重/牵引吨位在10吨以上的车辆投保限额为100万
                        以下的产品，保险公司按：实际投保责任限额/100万责任限额×实际损失金额，进行比例赔付；
                        6、投保车辆须具备合格驾驶证、行驶证及运输货品的营运证，否则保险人不负责赔偿造成的任何损失、费用及责任；
                        7、损失金额在赔偿限额以内的，按照定损金额扣除免赔； 损失金额超过赔偿限额的，按照赔偿限额扣除免赔；
                        8、法律费用：每次事故赔偿限额不超过保单约定每次赔偿限额的20%，累计赔偿限额不超过保单约定累计赔偿限额的20%；
                        9、保险合同双方，如任何一方解除合同，需提前15天通知对方，并按短期费率计算退保保费；
                        10、无论持有几份同类或同款保单，保险人对同一车辆单程运输所承担的保险责任以投保时所选的最大单张保单限额为限，超过部分无效。
                    </pre>
                </td>

            </tr>


        </table>
    </div>
</div>
<script src="../../../js/index1.js"></script>
</body>
</html>