<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>万众保险业务员端</title>
    <link rel="stylesheet" href="../../../css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../../../css/bootstrap.min.css">
    <script src="../../../js/jquery-1.11.1.js"></script>
    <script src="../../../js/bootstrap.min.js"></script>

    <style>
        li{
            list-style-type: none;
        }

        a:hover{
            text-decoration:none;
          color: #5bc0de;
        }


    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row">
     <div class="col-md-11">
	 <h5 style="padding-left: 2%">保险名录/1F一年期(含以下)电子保单类产品/境外旅行险</h5>
   
  
	  </div>
	  
    <div class="col-md-1">
	     <button id="back" class="btn btn-default">返回</button>
	  </div>
   </div>
        <table class="table">

            <tr>
                <td class="container">
                    <h4>太保出境签证保险</h4>
                    <hr>
                    <pre>
                        保险对象：境外旅行、出差的人群
                        被保险人年龄：1周岁-80周岁
                        保险期限：1天-1年

                        保险责任、保险金额、保险费：见产品简介

                        免赔说明：产品简介中保险责任无免赔额，按100%赔付

                        特别约定:
                        1、 “根据《中国保监会关于父母为其未成年子女投保以死亡为给付保险金条件人身保险有关问题的通知》【保监发（2015）90号】规定，对于被保险人不满10周岁的,死亡给付保险金额总和不得超过人民币20万元；被保险人已满10周岁但未满18周岁的，死亡给付保险金额总和不得超过人民币50万元。本保险单可承保的未成年被保险人身故保险金额为国务院保险监督管理机构规定的限额扣除其在本公司及其他保险公司已经参保的身故保险金额后的差额部分（不包含航空意外死亡保险金额及重大自然灾害意外死亡保险金额）；
                        2、 本保险单的投保年龄为1至80周岁。71至80周岁的被保险人，其“意外伤害”保额为保障范围摘要的一半，保险费维持不变；
                        3、 旅程延误保险：使用交通工具单次单程延误每超过4小时，保险公司偿保险金额的50％，单次事故最高赔偿八小时；
                        4、 行李物品损失：单件行李最高赔偿人民币1000元；
                        5、 亲属探病：每日最高住宿费用和每次事故最高支付金额为人民币1,200元；
                        6、 休养期的饭店住宿：每日最高住宿费用和每次事故最高支付金额为人民币1,200元；
                        7、 上述保险责任无免赔额，按100%赔付；
                        8、 附加紧急医疗救援保险责任：对于选择超过90天（含）以上保险期间的被保险人赴境外旅行时，保险人通过救援机构仅承担每次境外停留连续不超过90日的本合同所列各项保险责任。

                        其他说明：
                        1、请确认出行国家大使馆的签证保险要求与本保险是否匹配，如因本保单影响到签证，本保险公司可为客户全额退保，但不承担其他任何责任；
                        2、本产品每人限购1份；
                        3、本产品保障项较多，所有保障项的赔偿标准及限额详见附件《产品简介》。
                    </pre>
                </td>





            </tr>
            <tr>
                <td class="container">
                    <h4>环球无忧出境旅游计划(增强版)</h4>
                    <hr>
                    <pre>
                    保险对象：0（出生满60天） - 80周岁
                    适合范围：国际旅游、探亲、留学、培训、商务
                    保险期限：
                    1天－30天
                    24小时全球救援电话：（86）21-61961977

                    产品特色：
                    1.高额医疗保障不仅助您轻松过签也可解决国外的高额医疗费用支付，最高可达75万（含住院和门急诊）
                    2.高龄人群保障，递送贴心关怀
                    3.儿童保障，给孩子特别关爱
                    4.24小时紧急救援和转运回国服务（华泰人寿救援机构直接为客户垫付大额费用，缓解被保险人因资金不足而无法即使救治等问题，最高可达100万）
                    5.赠送十大境外旅行救援服务：旅行延误、行李延误、信用卡盗刷等多项保障
                    6.24小时全球救援热线（86）21-61961977 随时为客户解答关于当地医院就诊、理赔流程、转运服务、条款介绍等疑难问题，实现高效理赔速度！

                    其他说明：
                    1.按中国保监会规定，18周岁以下的未成年人身故保险金额以10万元为限
                    2.本产品每人在同一出行时间限购1份
                                            </pre>
                </td>

            </tr>

            <tr>
                <td class="container">
                    <h4>平安e行天下境外游保险(2016版)</h4>
                    <hr>
                    <pre>
                    保险对象：境外旅游、探亲、商务等人员
                    被保险人年龄：0 — 80周岁
                    保险期限：自选

                    保险责任、保险金额、保险费：见产品简介

                    特别提醒：
                    被保险人的投保年龄为0-80周岁（列表中注明的保费适用与0-65周岁人群，66-75周岁人员费率为列表中费率的1.5倍，76-80周岁人员费率为列表中费率的2倍）

                    申根签证：请选择计划二、计划四、计划五、计划六或计划七

                    24小时全球援助热线：欧乐救援（86）10-84416636
                    </pre>
                </td>

            </tr>
            <tr>
                <td class="container">
                    <h4>快乐旅程Ⅲ代-宝岛台湾游(2016版)</h4>
                    <hr>
                    <pre>
                        保险对象：境外旅游、探亲、商务等人员
                        被保险人年龄：0 — 80周岁
                        保险期限：1-18天
                        保险责任、保险金额、保险费：见产品简介
                        特别提醒：
                        被保险人的投保年龄为0-80周岁（列表中注明的保费适用与0-65周岁人群，66-75周岁人员费率为列表中费率的1.5倍，76-80周岁人员费率为列表中费率的2倍）
                        24小时全球援助热线：欧乐救援（86）10-84416636
                </pre>
                </td>

            </tr>
            <tr>
                <td class="container">
                    <h4>中意境外旅行险全球方案</h4>
                    <hr>
                    <pre>
                        保险对象：身体健康、能正常工作或正常生活的自然人
                        被保险人年龄：0-75周岁（包含0周岁）
                        保险期限：1天-1年
                        保险责任，保险金额，保险费：见产品简介
                        除外国家、除外责任请参见投保提示
                        服务热线：400-600-2700
                        24小时全球旅行支援：+86 (0) 21-61297913
                        本产品每人限购一份
                    </pre>
                </td>

            </tr>
            <tr>
                <td class="container">
                    <h4>中意境外旅行险亚洲行方案</h4>
                    <hr>
                    <pre>
                       保险对象：身体健康、能正常工作或正常生活的自然人
                        被保险人年龄：0-75周岁（包含0周岁）
                        保险期限：1天-1年
                        保险责任，保险金额，保险费：见产品简介
                        除外国家、除外责任请参见投保提示
                        服务热线：400-600-2700
                        24小时全球旅行支援：+86 (0) 21-61297913
                        本产品每人限购一份
                    </pre>
                </td>

            </tr>
            <tr>
                <td class="container">
                    <h4>中意境外旅行险申根方案</h4>
                    <hr>
                    <pre>
                        保险对象：身体健康、能正常工作或正常生活的自然人
                        被保险人年龄：0-75周岁（包含0周岁）
                        保险期限：1天-1年
                        保险责任，保险金额，保险费：见产品简介
                        除外国家、除外责任请参见投保提示
                        服务热线：400-600-2700
                        24小时全球旅行支援：+86 (0) 21-61297913
                        申根地区专属签证，带您畅游申根
                        本产品每人限购一份
                    </pre>
                </td>

            </tr>
            <tr>
                <td class="container">
                    <h4>“畅游天下”境外旅行保险</h4>
                    <hr>
                    <pre>
                        保险对象：境外旅游、探亲、商务等人员
                        被保险人年龄：0 — 60周岁
                        保险期限：自选

                        保险责任、保险金额、保险费：见产品简介

                        申根签证：请选择欧洲计划或全球计划

                        特别告知：
                        0-65周岁 按标准费率收费
                        66-75周岁 按标准费率*1.5收费
                        76-80周岁 按标准费率*2收费


                        24小时全球援助热线：欧乐救援（86）10-64620122
                    </pre>
                </td>

            </tr>
            <tr>
                <td class="container">
                    <h4>平安境外普通型旅行险</h4>
                    <hr>
                    <pre>
                        保险对象：境外旅游、探亲、商务等人员
                        被保险人年龄：0 — 80周岁
                        保险期限：1-20天

                        保险责任、保险金额、保险费：见产品简介
                    </pre>
                </td>

            </tr>
            <tr>
                <td class="container">
                    <h4>“快乐旅程III”境外旅行保险</h4>
                    <hr>
                    <pre>
                        保险对象：境外旅游、探亲、商务等人员
                        被保险人年龄：0 — 80周岁
                        保险期限：自选

                        保险责任、保险金额、保险费：见产品简介
                    </pre>
                </td>

            </tr>
            <tr>
                <td class="container">
                    <h4>“前程无忧”境外留学保险</h4>
                    <hr>
                    <pre>
                        保险对象：境外留学人员
                        被保险人年龄：10 — 45周岁
                        保险期限：自选

                        保险责任、保险金额、保险费：见产品简介

                        24小时全球援助热线：欧乐救援（86）10-84416636
                    </pre>
                </td>

            </tr>
            <tr>
                <td class="container">
                    <h4>“商旅护航”境外工作保险</h4>
                    <hr>
                    <pre>
                        保险对象：境外工作、商务等人员
                        被保险人年龄：0 — 80周岁
                        保险期限：自选

                        保险责任、保险金额、保险费：见产品简介

                        24小时全球援助热线：欧乐救援（86）10-84416636
                    </pre>
                </td>

            </tr>
          

        </table>
    </div>
</div>
<script src="../../../js/index1.js"></script>
</body>
</html>