<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>万众保险业务员端</title>
    
     <link rel="stylesheet" href="../../../css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../../../css/bootstrap.min.css">
    <script src="../../../js/jquery-1.11.1.js"></script>
    <script src="../../../js/bootstrap.min.js"></script>


    <style>
        li{
            list-style-type: none;
        }

        a:hover{
            text-decoration:none;
          color: #5bc0de;
        }


    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row">
    <div class="col-md-11">
	 <h5 style="padding-left: 2%">保险名录/1F一年期(含以下)电子保单类产品/个人意外险</h5>
   
  
	  </div>
	  
    <div class="col-md-1">
	     <button id="back" class="btn btn-default">返回</button>
	  </div>
   </div>
        <table class="table">

            <tr>
                <td class="container">
                    <h4>太保职员意外伤害保险（个人2015版）</h4>
                  
                    <hr>
                    <pre>
                       保险对象：1-6类的身体健康、能正常工作或正常生活的自然人
                        被保险人年龄：16周岁—65周岁
                        保险期限：1年

                        保险责任、保险金额和保险费：
                        低风险企业员工（1、2类人员）
                        　　　　　　　　　　　　　白银款　　　　　　黄金款　　　　　白金款　　　　　钻石款
                        1、意外伤害(身故／残疾):100,000元　　　　300,000元　　　　500,000元　　　800,000元
                        2、意外医疗　　　　　　10,000元　　　　　30,000元　　　　50,000元　　　　80,000元
                        (门诊/急诊/住院):无免赔,100%赔付　无免赔,100%赔付 无免赔,100%赔付 无免赔,100%赔付
                        3、意外伤害住院津贴：　50元/天　　　　　　80元/天　　　　100元/天　　　　120元/天
                        ——————————————————————————————————————————
                        　　　　　保费　　　　　178元　　　　　　473元　　　　　　823元　　　　　1243元

                        中风险企业员工（3、4类人员）
                        　　　　　　　　　　　　　白银款　　　　　黄金款　　　　　白金款　　　　钻石款
                        1、意外伤害(身故／残疾)：100,000元　　　　200,000元　　　300,000元　　　500,000元
                        2、意外医疗　　　　　　 10,000元　　　　　20,000元　　　30,000元　　　　50,000元
                        (门诊/急诊/住院):无免赔,100%赔付　无免赔,100%赔付 无免赔,100%赔付 无免赔,100%赔付
                        3、意外伤害住院津贴：　　－－　　　　　　　50元/天　　　　100元/天　　　100元/天
                        ——————————————————————————————————————————
                        　　　　　保费　　　　　　　221元　　　　　459元　　　　　　655元　　　　1103元

                        高风险企业员工（5、6类人员）
                        　　　　　　　　　　　　白银款　　　　　黄金款　　　　　白金款　　　　　钻石款
                        1、意外伤害(身故／残疾)：50,000元　　　100,000元　　　200,000元　　　　300,000元
                        2、意外医疗(门诊/急诊　5,000元　　　　10,000元　　　　20,000元　　　　　30,000元　
                        /住院):　　　100免赔100%赔付 100免赔100%赔付 100免赔100%赔付 100免赔100%赔付
                        3、意外伤害住院津贴：　　－－　　　　　50元/天　　　　80元/天　　　　　100元/天
                        —————————————————————————————————————————
                        　　　　　保费　　　　　263元　　　　　515元　　　　　963元　　　　　　1341元

                        特别告知：
                        1、仅承保16周岁 – 65周岁的身体健康、能正常工作或正常生活的自然人，职业类别请准确勾选（人员类别详见《中国太平洋财产保险股份有限公司职业分类表》），如被保险人的职业类别与实际情况不符合，保险公司有权以《中国太平洋财产保险股份有限公司职业分类表 》为准确定是否属保险责任；
                        2、伤残鉴定标准以《人身保险伤残评定标准（行业标准）》（中保协发〔2013〕88号）为准
                        标准如下：
                        残疾程度　　一级　二级　　三级　　四级　　五级　六级　　七级　　八级　　九级　　十级
                        给付比例　　100%　90%　80%　　70%　　60%　50%　　40%　30%　　20%　10%　
                        3、本产品无法进行人员更换；
                        4、意外伤害住院津贴：单次事故最长不超过90天，全年累计不超过180天；
                        5、保全、理赔及申请发票的相关材料请在“产品材料”中进行下载。
                        6、本产品仅提供电子发票（增值税普票），不提供纸质发票
                    </pre>
                </td>





            </tr>
            <tr>
                <td class="container">
                    <h4>安心个人意外伤害保险E款</h4>
                    <hr>
                    <pre>
                    保险年龄：18-65周岁
                    保险职业类别：1-6类职业
                    保险对象：身体健康，能正常工作或正常生活的自然人
                    保险期限： 1年

                    保险责任和保险金额：
                    意外伤害最高保额：1-2类职业最高100万，3-4类职业最高80万，5-6类职业最高60万；
                    意外伤害医疗最高保额：不超过意外伤害保额的20%；
                    意外伤害医疗扩展医保外：与意外医疗共享保额，最高不超过意外医疗保额的10%；
                    住院津贴：50-150元/天，5-6类职业最高100元/天，3天免赔；
                    疾病住院：2万元，免赔额赔付比例同意外伤害医疗责任

                    投保须知：
                    1、	本保险1-6类职业均可投保，投保前请认真查阅《职业分类表》，核实是否为禁止承保职业；
                    2、	不按实际职业投保，保险公司不承担保险责任；
                    3、	疾病住院医疗等待期90天，转续保无等待期，有无医保仅针对疾病住院医疗；
                    4、	意外医疗、疾病住院及意外医疗扩展医保外责任采用同一免赔额赔付比例标准；
                    5、	伤残评定和赔付比例按照行业标准，赔付比例为1级-10级，赔付100%-10%：
                    6、	保险公司认可医院为二级及以上公立医院，北京平谷地区医院除外；
                                            </pre>
                </td>

            </tr>

            <tr>
                <td class="container">
                    <h4>安心个人意外伤害保险D款</h4>
                    <hr>
                    <pre>
                       保险年龄：18-65周岁
                        保险职业类别：1-6类职业
                        保险对象：身体健康，能正常工作或正常生活的自然人
                        保险期限： 1年

                        保险责任和保险金额：
                        意外伤害最高保额：1-2类职业最高100万，3-4类职业最高80万，5-6类职业最高60万；
                        意外伤害医疗最高保额：不超过意外伤害保额的20%；
                        意外伤害医疗扩展医保外：与意外医疗共享保额，最高不超过意外医疗保额的10%；
                        住院津贴：50-150元/天，5-6类职业最高100元/天，3天免赔；
                        疾病住院：2万元，免赔额赔付比例同意外伤害医疗责任

                        投保须知：
                        1、	本保险1-6类职业均可投保，投保前请认真查阅《职业分类表》，核实是否为禁止承保职业；
                        2、	不按实际职业投保，保险公司不承担保险责任；
                        3、	疾病住院医疗等待期90天，转续保无等待期，有无医保仅针对疾病住院医疗；
                        4、	意外医疗、疾病住院及意外医疗扩展医保外责任采用同一免赔额赔付比例标准；
                        5、	伤残评定和赔付比例按照行业标准，赔付比例为1级-10级，赔付100%-10%：
                        6、	保险公司认可医院为二级及以上公立医院，北京平谷地区医院除外；
                    </pre>
                </td>

            </tr>
            <tr>
                <td class="container">
                    <h4>安心个人意外伤害保险C款</h4>
                    <hr>
                    <pre>
                       保险年龄：18-65周岁
                        保险职业类别：1-6类职业
                        保险对象：身体健康，能正常工作或正常生活的自然人
                        保险期限： 1年

                        保险责任和保险金额：
                        意外伤害最高保额：1-2类职业最高100万，3-4类职业最高80万，5-6类职业最高60万；
                        意外伤害医疗最高保额：不超过意外伤害保额的20%；
                        意外伤害医疗扩展医保外：与意外医疗共享保额，最高不超过意外医疗保额的10%；
                        住院津贴：50-150元/天，5-6类职业最高100元/天，3天免赔；
                        疾病住院：2万元，免赔额赔付比例同意外伤害医疗责任

                        投保须知：
                        1、	本保险1-6类职业均可投保，投保前请认真查阅《职业分类表》，核实是否为禁止承保职业；
                        2、	不按实际职业投保，保险公司不承担保险责任；
                        3、	疾病住院医疗等待期90天，转续保无等待期，有无医保仅针对疾病住院医疗；
                        4、	意外医疗、疾病住院及意外医疗扩展医保外责任采用同一免赔额赔付比例标准；
                        5、	伤残评定和赔付比例按照行业标准，赔付比例为1级-10级，赔付100%-10%：
                        6、	保险公司认可医院为二级及以上公立医院，北京平谷地区医院除外
                </pre>
                </td>

            </tr>
            <tr>
                <td class="container">
                    <h4>太保百万保额意外险</h4>
                    <hr>
                    <pre>
                        保险对象：企业高管、私营业主等（一类人员）
                        被保险人年龄：16周岁—65周岁
                        保险期限：1年

                        保险责任和保险金额：
                        1、意外伤害（身故/残疾）：1,000,000元
                        2、意外医疗（门诊/急诊/住院）：100,000元
                        3、意外伤害住院津贴：200元/每天
                        (单次事故最长不超过90天，全年累计不超过180天)

                        免赔说明：上述保险责任无免赔额

                        赔付比例：

                        其他说明（请仔细阅读以下内容）：
                        　1、司法管辖：中华人民共和国司法管辖（港、澳、台除外）
                        　2、本产品人员无法更替
                        　3、保全、理赔及申请发票的相关材料请在“产品材料”中进行下载
                        　4、本产品每人限购1份
                        　5、本产品仅提供电子发票（增值税普票），不提供纸质发票
                    </pre>
                </td>

            </tr>
            <tr>
                <td class="container">
                    <h4>安心个人意外伤害保险B款</h4>
                    <hr>
                    <pre>
                        保险年龄：18-65周岁
                        保险职业类别：1-6类职业
                        保险对象：身体健康，能正常工作或正常生活的自然人
                        保险期限： 1年

                        保险责任和保险金额：
                        意外伤害最高保额：1-2类职业最高100万，3-4类职业最高80万，5-6类职业最高60万；
                        意外伤害医疗最高保额：不超过意外伤害保额的20%；
                        意外伤害医疗扩展医保外：与意外医疗共享保额，最高不超过意外医疗保额的10%；
                        住院津贴：50-150元/天，5-6类职业最高100元/天，3天免赔；
                        疾病住院：2万元，免赔额赔付比例同意外伤害医疗责任

                        投保须知：
                        1、	本保险1-6类职业均可投保，投保前请认真查阅《职业分类表》，核实是否为禁止承保职业；
                        2、	不按实际职业投保，保险公司不承担保险责任；
                        3、	疾病住院医疗等待期90天，转续保无等待期，有无医保仅针对疾病住院医疗；
                        4、	意外医疗、疾病住院及意外医疗扩展医保外责任采用同一免赔额赔付比例标准；
                        5、	伤残评定和赔付比例按照行业标准，赔付比例为1级-10级，赔付100%-10%：
                        6、	保险公司认可医院为二级及以上公立医院，北京平谷地区医院除外；
                                            </pre>
                </td>

            </tr>
            <tr>
                <td class="container">
                    <h4>家政人员保险（白银款）</h4>
                    <hr>
                    <pre>
                        保险对象：家政雇佣人员（如：保姆、钟点工等）
                        被保险人年龄：16周岁—65周岁
                        保险期限：1年

                        保险责任和保险金额：
                        1、意外伤害（身故/残疾/烧伤）：50,000元
                        2、意外医疗（门诊/急诊/住院）：2,000元
                        （每次事故每人免赔额：100元）

                        免赔说明：意外医疗100元免赔额，按100%赔付

                        其他说明（请仔细阅读以下内容）：
                        1、本产品人员无法更替
                        2、本产品仅承保在家政服务期间发生的意外伤害责任
                        3、本产品限购1份
                        4、保全、理赔及申请发票的相关材料请在“产品材料”中进行下载
                    </pre>
                </td>

            </tr>
            <tr>
                <td class="container">
                    <h4>家政人员保险（黄金款）</h4>
                    <hr>
                    <pre>
                        保险对象：家政雇佣人员（如：保姆、钟点工等）
                        被保险人年龄：16周岁—65周岁
                        保险期限：1年

                        保险责任和保险金额：
                        1、意外伤害（身故/残疾/烧伤）：100,000元
                        2、意外医疗（门诊/急诊/住院）：5,000元
                        （每次事故每人免赔额：200元）

                        免赔说明：意外医疗200元免赔额，按100%赔付

                        其他说明：
                        1、本产品人员无法更替
                        2、本产品仅承保在家政服务期间发生的意外伤害责任
                        3、本产品限购1份
                        4、保全、理赔及申请发票的相关材料请在“产品材料”中进行下载
                    </pre>
                </td>

            </tr>
            <tr>
                <td class="container">
                    <h4>家政人员保险（钻石款）</h4>
                    <hr>
                    <pre>
                        保险对象：家政雇佣人员（如：保姆、钟点工等）
                        被保险人年龄：16周岁—65周岁
                        保险期限：1年

                        保险责任和保险金额：
                        1、意外伤害（身故/残疾/烧伤）：200,000元
                        2、意外医疗（门诊/急诊/住院）：10,000元
                        （每次事故每人免赔额：200元）

                        免赔说明：意外医疗200元免赔额，按100%赔付

                        其他说明：
                        1、本产品人员无法更替
                        2、本产品仅承保在家政服务期间发生的意外伤害责任
                        3、本产品限购1份
                        4、保全、理赔及申请发票的相关材料请在“产品材料”中进行下载
                    </pre>
                </td>

            </tr>
            <tr>
                <td class="container">
                    <h4>安心个人意外伤害保险A款</h4>
                    <hr>
                    <pre>
                        保险年龄：18-65周岁
                        保险职业类别：1-6类职业
                        保险对象：身体健康，能正常工作或正常生活的自然人
                        保险期限： 1年

                        保险责任和保险金额：
                        意外伤害最高保额：1-2类职业最高100万，3-4类职业最高80万，5-6类职业最高60万；
                        意外伤害医疗最高保额：不超过意外伤害保额的20%；
                        意外伤害医疗扩展医保外：与意外医疗共享保额，最高不超过意外医疗保额的10%；
                        住院津贴：50-150元/天，5-6类职业最高100元/天，3天免赔；
                        疾病住院：2万元，免赔额赔付比例同意外伤害医疗责任

                        投保须知：
                        1、	本保险1-6类职业均可投保，投保前请认真查阅《职业分类表》，核实是否为禁止承保职业；
                        2、	不按实际职业投保，保险公司不承担保险责任；
                        3、	疾病住院医疗等待期90天，转续保无等待期，有无医保仅针对疾病住院医疗；
                        4、	意外医疗、疾病住院及意外医疗扩展医保外责任采用同一免赔额赔付比例标准；
                        5、	伤残评定和赔付比例按照行业标准，赔付比例为1级-10级，赔付100%-10%：
                        6、	保险公司认可医院为二级及以上公立医院，北京平谷地区医院除外；
                    </pre>
                </td>

            </tr>
            <tr>
                <td class="container">
                    <h4>e安心成人意外随心保A款</h4>
                    <hr>
                    <pre>
                        投保对象：18周岁-65周岁的职业分类为1-3类的人员
                        保险期限： 1年
                        投保须知：
                        1、不按实际职业类别投保的，保险公司不承担保险责任；
                        2、安心保险公司认可医院为全国二级及二级以上公立医院，北京平谷医院除外；
                        3、本保险对因驾乘摩托车、助动车、电动车造成的意外事故，按照保险金额的70%承担意外保险责任；
                        4、疾病住院的等待期为90天，疾病住院的医疗费用18-45周岁免赔100元,46-65周岁的免赔300元；扣除免赔额以后，有社保100%赔付，无社保80%赔付；


                    </pre>
                </td>

            </tr>
            <tr>
                <td class="container">
                    <h4>e安心成人意外随心保B款</h4>
                    <hr>
                    <pre>
                       投保对象：18周岁-65周岁的职业分类为1-3类的人员
                        保险期限： 1年
                        投保须知：
                        1、不按实际职业类别投保的，保险公司不承担保险责任；
                        2、安心保险公司认可医院为全国二级及二级以上公立医院，北京平谷医院除外；
                        3、本保险对因驾乘摩托车、助动车、电动车造成的意外事故，按照保险金额的70%承担意外保险责任；
                        4、疾病住院的等待期为90天，疾病住院的医疗费用18-45周岁免赔100元,46-65周岁的免赔300元；扣除免赔额以后，有社保100%赔付，无社保80%赔付；
                    </pre>
                </td>

            </tr>
            <tr>
                <td class="container">
                    <h4>e家泰康综合意外险</h4>
                    <hr>
                    <pre>
                       承保年龄：0-65周岁
                        保险期间：1年
                        职业类别：1-4类
                        保障计划：
                        计划一：意外伤害10万，意外医疗1万，意外住院津贴 50元/天，价格：100元/年
                        计划二：意外伤害20万，意外医疗2万，意外住院津贴100元/天， 价格：200元/年
                        计划三：意外伤害30万，意外医疗3万，意外住院津贴150元/天， 价格：300元/年
                        产品说明：
                        1、本产品意外伤害医疗责任，每次事故绝对免赔金额为100元。
                        2、本产品被保险人每次住院获得的意外住院津贴保险金＝实际住院天数×意外住院津贴保险金日额，每一保险期间内累计给付天数以180日为限，每次事故绝对免赔额为3天。
                        3、本保险承保职业类别限制为1-4类，被保险人不符合职业类别要求的，保险公司不负责赔偿。
                        4、本产品在网上投保申请日后第4日零时即生效。
                        5、本产品被保险人投保年龄：0岁（出生满30天并出院）-65周岁（含）。
                        6、本产品仅可购买一份，多投超出部分无效。
                        7、本产品生效后退保有损失。
                        8、任何年龄在18周岁以下的被保险人，如果其以死亡为给付责任的保险金额（包括在所有商业保险公司所购买的保险）超出中国保监会所规定的限额（0周岁-9周岁（含）人民币20万元；
                        10周岁-17周岁（含），人民币50万元，航空意外死亡保险金不受此限），保险公司就超过限额部分不承担保险金给付责任。
                    </pre>
                </td>

            </tr>


        </table>
    </div>
</div>
<script src="../../../js/index1.js"></script>

</body>
</html>