<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>万众保险业务员端</title>
    <link rel="stylesheet" href="../../../css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../../../css/bootstrap.min.css">
    <script src="../../../js/jquery-1.11.1.js"></script>
    <script src="../../../js/bootstrap.min.js"></script>

    <style>
        li{
            list-style-type: none;
        }

        a:hover{
            text-decoration:none;
          color: #5bc0de;
        }


    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row">
     <div class="col-md-11">
	 <h5 style="padding-left: 2%">保险名录/1F一年期(含以下)电子保单类产品/重大疾病险</h5>
   
  
	  </div>
	  
    <div class="col-md-1">
	     <button id="back" class="btn btn-default">返回</button>
	  </div>
   </div>
    <script src="../../../js/index1.js"></script>
        <table class="table">

            <tr>
                <td class="container">
                    <h4>e家泰康住院宝-成人计划</h4>
                    <hr>
                    <pre>
				                       承保年龄：18-65周岁
				                        保险期间：1年
				                        职业类别：1-4类


                        1、	高性价比产品，最低仅需249元/年
                        2、	保障疾病住院，最高每年3万元
                        3、	意外综合保障，意外身故、意外残疾、意外医疗费用报销全包含
                        4、	每人限购1份，多买无效

			                        方案名称 　　　意外伤害　　　意外医疗　　　　疾病住院　　　 价格
			                        成人基础版 　　　 10万　　　　　1万　　　　　　2万　　　　　249
			                        成人计划一 　　　 20万　　　　　2万　　　　　　2万　　　　　320
			                        成人计划二 　　　 30万　　　　　3万　　　　　　3万　　　　　480
			                        老人基础版 　　　 5万　　　　　 1万　　　　　　1万　　　　　435
                    </pre>
                </td>





            </tr>
            <tr>
                <td class="container">
                    <h4>e家泰康住院宝-少儿计划</h4>
                    <hr>
                    <pre>

			                        承保年龄：0-17周岁
			                        保险期间：1年

                        1、	高性价比产品，最低仅需374元/年
                        2、	保障疾病住院，每年2-3万元
                        3、	意外综合保障，意外身故、意外残疾、意外医疗费用报销全包含
                        4、	每人限购1份，多买无效

			                        方案名称　　意外伤害　　　意外医疗　　　　疾病住院　　　价格
			                        基础版 　　　 10万　　　　　1万　　　　　　2万　　　　　374
			                        计划一 　　　 20万　　　　　2万　　　　　　2万　　　　　440
			                        计划二 　　　 30万　　　　　3万　　　　　　3万　　　　　660
                                            </pre>
                </td>

            </tr>

            <tr>
                <td class="container">
                    <h4>美华种植牙及正畸医疗保险</h4>
                    <hr>
                    <pre>
		                        保险对象：15周岁-75周岁
		                        保险期间：1年
		                        保险费用：880元
		                        保险金额：意外种植牙10万 、非意外种植牙 66万、正畸修复 20万
		                        产品特色
		                        意外导致种牙报销100%医疗费用
		                        非意外导致种牙、矫正报销60%医疗费
		                        投保前已发生牙齿脱落也可以购买本产品
		                        投保本险种并种牙的客户，可享受10年质保
		                        投保即可享受全球最大的齿科机构马泷齿科专业服务
                    </pre>
                </td>

            </tr>
            <tr>
                <td class="container">
                    <h4>永安乐健一生中端医疗保险(个单B款)</h4>
                    <hr>
                    <pre>
                        被保险人年龄：新单投保年龄为出生满18－54周岁；续保不超过85周岁。

                        保险期间：1年

                        保障责任：

                        涵盖住院（必选）、门诊（可选）。

                        医疗场所要求：境内二级（含）及以上公立医疗机构

                        赔付比例：100%，不受社保目录限制

                        等待期：30天

                        保障方案：

                        方案一：年度保额20万，终身100万（只可以公立医院普通部门就诊）

                        方案二：年度保额50万，终身250万（可去公立医院特需部就诊）
                </pre>
                </td>

            </tr>
            <tr>
                <td class="container">
                    <h4>华海e生无忧百万医疗险</h4>
                    <hr>
                    <pre>
                       承保年龄：30天至60周岁，可续保至80周岁
                        保障期限：1年
                        保障对象：从事1-4类职业的健康人士
                        年度免赔额：医疗费用免赔额1万元，恶性肿瘤无免赔额

                        产品简介
                        住院医疗费用保障：300万元/年，恶性肿瘤医疗费用保障：额外300万元/年
                        1）	不限社保，进口药、自费药、检查费、手术费、床位费、住院膳食等皆可报销
                        2）	涵盖特殊门诊医疗：门诊肾透析费、器官移植后的门诊抗排异治疗费、门诊恶性肿瘤化疗/放疗/免疫治疗/内分泌治疗/靶向治疗费用也可报销


                        特别约定
                        1、被保险人首次投保或非连续投保时，疾病等待期为30天。扁桃腺、甲状腺、疝气、女性生殖系统疾病的检查与治疗等待期为120天。意外医疗及连续投保无等待期。
                        2、本保险医疗费用仅限被保险人在中华人民共和国境内（不含港、澳、台地区）二级及以上医院接受治疗产生的费用。
                        3、社会医疗保险：是指包括新型农村合作医疗、城镇职工基本医疗保险、城镇居民基本医疗保险等政府举办的基本医疗保障项目。
                        请根据实际情况确认是否有社会医疗保险，以有社会医疗保险身份参保，但未以社会医疗保险身份就诊并结算的，本保险按照应赔付金额的60%进行赔付。
                        4、退保规则：未发生赔付的保单，投保人要求解除本合同，自保险人接到保险合同解除申请书之日次日零时起，本合同的效力终止。保险人收到证明文件和资料之日起30日内退还未满期净保险费。未满期净保险费=保险费×[1-(保险单已经过天数/保险期间天数)] ×（1-35%），经过天数不足一天的按一天计算。
                        5、购买份数：本保险同一被保险人限投保一份。
                        6、保障区域：本产品医疗责任保障区域限于中国境内，不包括港澳台地区。
                    </pre>
                </td>

            </tr>

            <tr>
                <td class="container">
                    <h4>e家泰康老年防癌</h4>
                    <hr>
                    <pre>
                       承保年龄：50-80岁
                        保险期间：1年

                        1、癌症医疗保险金20万元/年；
                        2、投保无须体检，如实填写健康告知即可完成投保；
                        3、本产品仅可购买一份，多投超出部分无效；
                        4、最高可续保至85周岁；
                        5、本产品等待期90天；
                        6、本产品为一年期健康险产品，保险期满时，在符合健康告知条件且无间断投保情况下，经保险人审核同意并收取保险费后，续保合同生效。上述为同一被保险人连续投保本保险的续保合同无等待期。如本保险产品统一停售，则保险人不再接受投保人连续投保申请
                        7、本产品仅限有社保人群投保（新农合、城镇居民医疗、城镇职工医疗），保单年度免赔额1万元。
                        8、恶性肿瘤医疗费用符合当地社保，赔付比例100%；不符合的赔付比例80%
                    </pre>
                </td>

            </tr>

            <tr>
                <td class="container">
                    <h4>e家泰康疾病综合－少儿版</h4>
                    <hr>
                    <pre>
                        承保年龄：0-17周岁
                        保险期间：1年

                        保障内容	　　　　　方案一　方案二　方案三　方案四　方案五
                        重大疾病（70种）　	10万　　20万　　30万　　40万　　50万
                        轻症（10 种）　	　　5万　　10万　　10万　　10万　　10万
                        少儿白血病	　　　　10万　　10万　　10万　　10万　　10万

                        1、涵盖70种重疾和10种轻症，双重保障更安心
                        2、重疾最高保障50万，高性价比产品
                        3、少儿白血病额外赔付10万元
                        4、重大疾病有90天等待期，续保没有等待期
                        5、本产品为一年期健康险产品，保险期满时，在符合健康告知条件且无间断投保情况下，经保险人审核同意并收取保险费后，续保合同生效。上述为同一被保险人连续投保本保险的续保合同无等待期。如本保险产品统一停售，则保险人不再接受投保人连续投保申请
                        6、本产品每一被保险人限投一份，多投无效。
                    </pre>
                </td>

            </tr>

            <tr>
                <td class="container">
                    <h4>e家泰康疾病综合－成人男性版</h4>
                    <hr>
                    <pre>
                       承保年龄：18-60周岁
                        保险期间：1年

                        保障内容	　　　　　方案一　方案二　方案三　方案四　方案五
                        重大疾病（70种）　	10万　　20万　　30万　　40万　　50万
                        轻症（10 种）　	　　5万　　10万　　10万　　10万　　10万
                        男性特定重疾	　　　10万　　10万　　10万　　10万　　10万


                        1、涵盖70种重疾和10种轻症，双重保障更安心
                        2、重疾最高保障50万，高性价比产品
                        3、3种男性特定重疾额外赔付10万元，指原发于男性肺部、胃部、前列腺的恶性肿瘤
                        4、重大疾病有90天等待期，续保没有等待期
                        5、本产品为一年期健康险产品，保险期满时，在符合健康告知条件且无间断投保情况下，经保险人审核同意并收取保险费后，续保合同生效。上述为同一被保险人连续投保本保险的续保合同无等待期。如本保险产品统一停售，则保险人不再接受投保人连续投保申请
                        6、本产品每一被保险人限投一份，多投无效。
                    </pre>
                </td>

            </tr>

            <tr>
                <td class="container">
                    <h4>e家泰康疾病综合－成人女性版</h4>
                    <hr>
                    <pre>
                        承保年龄：18-60周岁
                        保险期间：1年

                        保障内容	　　　　　方案一　方案二　方案三　方案四　方案五
                        重大疾病（70种）　	10万　　20万　　30万　　40万　　50万
                        轻症（10 种）　	　　5万　　10万　　10万　　10万　　10万
                        女性特定重疾	　　　10万　　10万　　10万　　10万　　10万


                        1、涵盖70种重疾和10种轻症，双重保障更安心
                        2、重疾最高保障50万，高性价比产品
                        3、3种女性特定重疾额外赔付10万元，是指原发于女性乳房、宫颈、卵巢的恶性肿瘤
                        4、重大疾病有90天等待期，续保没有等待期
                        5、本产品为一年期健康险产品，保险期满时，在符合健康告知条件且无间断投保情况下，经保险人审核同意并收取保险费后，续保合同生效。上述为同一被保险人连续投保本保险的续保合同无等待期。如本保险产品统一停售，则保险人不再接受投保人连续投保申请
                        6、本产品每一被保险人限投一份，多投无效。
                    </pre>
                </td>

            </tr>

            <tr>
                <td class="container">
                    <h4>e家泰康重疾宝</h4>
                    <hr>
                    <pre>
                       保险年龄：0-60岁
                        保险期限：1年
                        产品保障       方案一 方案二 方案三
                        重大疾病医疗（报销）  50万 	100万 200万
                        重大疾病保险（给付）  5万  10万  20万
                        癌症保险给付金     5万  10万  20万
                        1、涵盖重疾医疗费用报销和重疾保险金给付双重保障，癌症更有额外保险金赔付；
                        2、涵盖70种重疾；
                        3、重疾医疗涵盖住院和门急诊，可报销自费用药，不受医保范围限制；
                        4、本产品有90天等待期，续保没有等待期；
                        5、医疗费用若已从社保或其他途径获得补偿，扣除其它渠道获得的补偿后，对其余额按100%的比例给付医疗保险金；若未从社保或其他途径获得补偿，则按60%的比例给付医疗保险金；其他途径是指社会基本医疗保险、公费医疗、新型农村合作医疗、商业性门急诊费用补偿型医疗保险、其他政府机构或者社会福利机构；
                        6、产品每一被保险人限投一份，多投无效。
                    </pre>
                </td>

            </tr>
            <tr>
                <td class="container">
                    <h4>太平e家安康百万医疗保险</h4>
                    <hr>
                    <pre>
                       保险期限：1年
                        保障区域：中国大陆（不包括港澳台湾地区）二级（含）以上公立医院普通部

                        保障计划：
                        计划一：40万
                        计划二：100万
                        计划三：200万
                        计划四：600万

                        免赔额：1万元

                        一般医疗保险金：
                        住院医疗费用
                        特殊门诊医疗费用
                        特殊门诊手术医疗费用
                        住院前后门诊急诊费用
                        恶性肿瘤医疗保险金：
                        恶性肿瘤住院医疗费用
                        恶性肿瘤特殊门诊医疗费用
                        恶性肿瘤门诊手术医疗费用
                        恶性肿瘤住院前后门诊急诊费用

                        1. 本产品由太平财产保险有限公司承保，本公司在北京、上海、广东、深圳、大连、天津、江苏、苏州、浙江、河南、山东、湖北、四川、湖南、重庆、青岛、山西、陕西、福建、安徽、辽宁、河北、云南、贵州、宁波、黑龙江、广西、厦门、内蒙古与江西等地设有分公司。本产品面向全国销售，但对于本公司未设分公司的地区，您在非以上地区购买的，后续服务可能会受影响。
                        2. 投保人：18周岁以上有完全民事行为能力人，并与被保险人存在可保利益。3. 被保险人：首次投保年龄为出生满30天至60周岁的身体健康的自然人。本产品不承保高风险职业人员，高风险职业种类详见《特别职业表》。若被保险人目前专职或兼职从事属于《特别职业表》中所列的职业发生保险事故，本公司不承担赔偿或给付保险金的责任。
                        4. 受益人：本产品的保险金受益人为被保险人本人。
                        5. 保障区域：本产品医疗责任保障区域限于中国境内，不包括香港、澳门、台湾地区。
                        6. 等待期：被保险人首次投保或非连续投保时，疾病住院等待期为30天。
                        7. 续保：续保时保险公司不会因为被保险人个人身体状况或使用保险情况而不续保或单独调整保费。无论是否发生理赔，续保无需健康告知，无等待期。如果被保险人的年龄超过99周岁或保单终止或本产品统一停售，我们将不再接受续保。
                        8. 社会医疗保险：指包括新型农村合作医疗、城镇职工基本医疗保险、城镇居民基本医疗保险等政府举办的基本医疗保障项目。
                        投保时请根据实际情况确认是否有社会医疗保险，以有社会医疗保险身份参保，但未以社会医疗保险身份就诊并结算的，本
                        保险按照应赔付金额的60%进行赔付。
                        9. 免赔额：本保险免赔额为1万元，社保个人账户支付的金额可计入免赔额，但社保统筹或公费医疗报销部分不能计入免赔额，各项合计最高给付上限不超过年付总保额。
                        10.家庭费率：被保险人的家庭成员若与被保险人同时参保本保险，且投保人数在3人及以上时，可享受家庭费率。家庭成员仅指被保险人的父母、被保险人投保时具有合法婚姻关系的配偶及其子女。
                    </pre>
                </td>

            </tr>


        </table>
    </div>
</div>

</body>
</html>