<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>万众保险业务员端</title>
   <link rel="stylesheet" href="../../../css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../../../css/bootstrap.min.css">
    <script src="../../../js/jquery-1.11.1.js"></script>
    <script src="../../../js/bootstrap.min.js"></script>


    <style>
        li{
            list-style-type: none;
        }

        a:hover{
            text-decoration:none;
          color: #5bc0de;
        }


    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row">
    <div class="col-md-12 row" style="">
   <div class="col-md-11">
	 <h5 style="padding-left: 2%">保险名录/1F一年期(含以下)电子保单类产品/建工一切险</h5>
   
	  </div>
	  
    <div class="col-md-1">
	     <button id="back" class="btn btn-default">返回</button>
	  </div>
   </div>
        <table class="table">

            <tr>
                <td class="container">
                    <h4>e家平安室内装修保险</h4>
                    <hr>
                    <pre>
                        保费计算规则
                        1. 物损责任保费=工程造价*物损费率
                        2. 第三者责任险保费=第三者责任累计赔偿限额*第三者责任费率 （按客户需求自由选择限额。）
                        3. 总保费最低800元
                        例如：物损100万，第三者责任累计保额400万，每人每次50万，保费为100万*0.06%+400万*0.06%*1=3000元

                        投保规则：
                        1、本保险只承保商场内的某个商铺店面或写字楼内的某个办公室的室内装修，不承保商场或写字楼内主体其他设施装修（如大厅、电梯、楼道、内外墙、露台等等）；禁止承保家庭装修，小商品批发市场，集贸市场，电脑配件市场等。
                        2、商场及写字楼房龄不超过30年，配有自动喷淋，消防栓灭火器，24小时摄像等防火防盗设备。
                        3、限室内装修工程，工期不超过6个月。
                        4、施工方需为有施工资质的企业。
                        5、本保单不承担特种危险（地震、海啸、洪水、暴雨、风暴）的保险责任。
                        6、公司名称中含有“投资”关键字的不可作为投保人、被保险人或受益人·
                        扩展条款：
                        1.专业费用特别条款（赔偿限额：保险金额的5%）
                        2.特别费用扩展条款（赔偿限额：损失金额的10%）
                        3.灭火费用条款（赔偿限额：RMB200,000.00）
                        4.清除残骸费用扩展条款A（赔偿限额：保险金额的5%）
                        5.自动恢复保险金额条款A
                        6.急救费用条款（赔偿限额：损失金额的10%）
                        7.交叉责任扩展条款
                        8.放弃代位求偿权条款
                        9.震动、移动或减弱支撑扩展条款（赔偿限额：RMB200,000.00）
                        10.防火设施特别条款
                        11.罢工、暴动或民众骚乱扩展条款
                        12.扩展责任保证期扩展条款（保证期限：6个月）
                    </pre>
                </td>





            </tr>

            

        </table>
    </div>
</div>
<script src="../../../js/index1.js"></script>
</body>
</html>