<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>万众保险业务员端</title>
    <link rel="stylesheet" href="../../../css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../../../css/bootstrap.min.css">
    <script src="../../../js/jquery-1.11.1.js"></script>
    <script src="../../../js/bootstrap.min.js"></script>


    <style>
        li{
            list-style-type: none;
        }

        a:hover{
            text-decoration:none;
          color: #5bc0de;
        }


    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row">
    <div class="col-md-12 row" style="">
   <div class="col-md-11">
	 <h5 style="padding-left: 2%">保险名录/1F一年期(含以下)电子保单类产品/驾乘意外险</h5>
   
	  </div>
	  
    <div class="col-md-1">
	     <button id="back" class="btn btn-default">返回</button>
	  </div>
   </div>
	  
        <table class="table">

            <tr>
                <td class="container">
                    <h4>平安驾乘无忧意外伤害保险(2017版)</h4>
                    <hr>
                    <pre>
                       保障期限：1年
                        购买份数：1-5份

                        产品计划　　　　　　使用性质　　　　　　　座位数　　　　　保费（每份）
                        －－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－　　　　　　
                        5座及以下客车　　　　非营运　　　　　　　　2-5座　　　　　　120元
                        6-9座客车　　　　　　非营运　　　　　　　　6-9座　　　　　　190元　　　　　　　
                        5座及以下客车　　　　营运　　　　　　　　　2-5座　　　　　　210元
                        6-9座客车　　　　　　营运　　　　　　　　　6-9座　　　　　　230元
                        0-10吨货车　　　　　 非营运/营运　　　　　　2-5座　　　 　　 200元
                        专用车　　　　　　　 非营运/营运　　　　　　1-3座　　　 　　 190元
                        灌装车　　　　　　　 非营运/营运　　　　　　2-3座　　 　　　 230元
                        10吨以上货车　　　　　非营运/营运　　　　　　2-3座　　 　　　 300元
                        （0-10吨货车、10吨以上货车、专用车、罐装车“冀、鲁牌”除外）

                        保障内容（每份）：
                        1、意外身故/残疾10万/座
                        2、意外医疗1万/座
                        3、意外医疗住院津贴30/天/座，最长180天

                        特别约定：
                        1、未上牌车辆不能投保（包括新车未上牌）；
                        2、车辆驾驶员或操作员需持国家有关部门核发的有效驾驶证或操作证；
                        3、投保人指车辆所有人或车辆所属单位， 被保险人指投保车辆的驾乘人员；
                        4、被保险人年龄为1-70周岁（含）， 驾乘投保车辆须符合国家相关规定，受益人为法定；5、投保车辆必须符合国家规定的车辆使用标准，具备合法有效的行驶证、年检证明、许可证书或其他必备证书，并已投保交强险；
                        6、严格按照车辆行驶证核定的座位数和吨位数投保，投保内容和行驶证内容不符，则保单无效，每位被保险人的保险金额以保单列明为限；
                        7、投保车辆实际所有人发生保险责任范围内的意外身故，或意外伤残一级，理赔后保单失效，保险责任终止；
                        8、工程机械按车架号投保，不用投保交强险，出险后以安监部门相关证明或出险单位事故证明并结合保险公司调查来认定保险责任；
                        9、由罐藏车载运物本身所导致的意外事故或爆炸事故属于保险除外责任；
                        10、无论持有几份同类或同款保单，保险人对同一车辆的被保险人所承担的保险责任以每个座位最高50万为限，超过部分无效；
                        11、18岁以下的未成年人意外伤害保额以10万为限；
                        12、保险公司仅承担被保险人驾驶或乘坐的车辆信息如下，发生道路交通事故造成的意外伤害责任，出险后凭交通管理部门出具的事故证明向保险公司索赔；
                        13、意外医疗每次事故免赔额500元，按90%赔付。
                    </pre>
                </td>





            </tr>
            <tr>
                <td class="container">
                    <h4>PICC机动车驾驶人员意外伤害组合保险E款</h4>
                    <hr>
                    <pre>

                        保障期限：1年
                        购买份数：1-5份

                        产品计划　　　　　　　　　　使用性质　　　　　座位数　　　保费（每份）
                        －－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－　　　　　　
                        5座及以下客车　　　　　　　 非营运　　　　　　2-5座　　　　190元
                        6-9座客车　　　　　　　　　 非营运　　　　　　6-9座　　　　210元　　　　　　　
                        5座及以下客车　　　　　　　 营运　　　　　　　2-5座　　　　230元
                        6-9座客车　　　　　　　　　 营运　　　　　　　6-9座　　　　250元
                        2吨及以下货车　　　　　　　 非营运/营运　　　 2-5座　　　　280元
                        2吨以上~10吨货车　　　　　 非营运/营运　　　 2-3座　　　　310元
                        10吨以上货车　　　　　　　 非营运/营运　　　 2-3座　　　　300元
                        特种车二和三（专用车）　　 　非营运/营运　　　 1-3座　　　　230元
                        特种车一（灌装车）　　　　 　非营运/营运　　　 2-3座　　　　260元
                        特种四或其他特种车 　非营运/营运　　　 2-3座　　　　310元

                        保障内容（每份）：
                        1、意外身故/残疾10万/座
                        2、意外医疗1万/座
                        3、意外医疗住院津贴30/天/座，最长180天
                        4、意外医疗每次事故免赔额 免赔500元，100%赔付

                        特别约定：
                        1、保险条款以报备条款为准；
                        2、车辆驾驶员或操作员需持国家有关部门核发的有效驾驶证或操作证；
                        3、投保人指车辆所有人或车辆所属单位， 被保险人指投保车辆的驾乘人员；
                        4、被保险人年龄为1-70周岁（含），驾乘投保车辆须符合国家相关规定，受益人为法定；
                        5、投保车辆必须符合国家规定的车辆使用标准，具备合法有效的行驶证、年检证明、许可证书或其他必备证书，并已投保交强险；
                        6、严格按照车辆行驶证核定的座位数和吨位数投保，投保内容和行驶证内容不符，则保单无效，每位被保险人的保险金额以保单列明为限；
                        7、投保车辆实际所有人发生保险责任范围内的意外身故，或意外伤残一级，理赔后保单失效，保险责任终止；
                        8、工程机械按车架号投保，不用投保交强险，出险后以安监部门相关证明或出险单位事故证明并结合保险公司调查来认定保险责任；
                        9、由罐藏车载运物本身所导致的意外事故或爆炸事故属于保险除外责任；
                        10、无论持有几份同类或同款保单，保险人对同一车辆的被保险人所承担的保险责任以该车型可购买的最高份为限，超过部分无效。
                                            </pre>
                </td>

            </tr>

            <tr>
                <td class="container">
                    <h4>PICC机动车驾驶人员意外伤害组合保险D款</h4>
                    <hr>
                    <pre>
                       保障期限：1年
                        购买份数：1-5份

                        产品计划　　　　　　　　　　使用性质　　　　　座位数　　　保费（每份）
                        －－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－　　　　　　
                        5座及以下客车　　　　　　　 非营运　　　　　　2-5座　　　　150元
                        6-9座客车　　　　　　　　　 非营运　　　　　　6-9座　　　　170元　　　　　　　
                        5座及以下客车　　　　　　　 营运　　　　　　　2-5座　　　　190元
                        6-9座客车　　　　　　　　　 营运　　　　　　　6-9座　　　　210元
                        2吨及以下货车　　　　　　　 非营运/营运　　　 2-5座　　　　240元
                        2吨以上~10吨货车　　　　　 非营运/营运　　　 2-3座　　　　260元
                        10吨以上货车　　　　　　　 非营运/营运　　　 2-3座　　　　260元
                        特种车二和三（专用车）　　 　非营运/营运　　　 1-3座　　　　190元
                        特种车一（灌装车）　　　　 　非营运/营运　　　 2-3座　　　　230元
                        特种四或其他特种车 　非营运/营运　　　 2-3座　　　　260元

                        保障内容（每份）：
                        1、意外身故/残疾10万/座
                        2、意外医疗1万/座
                        3、意外医疗住院津贴30/天/座，最长180天
                        4、意外医疗每次事故免赔额 免赔500元，100%赔付

                        特别约定：
                        1、保险条款以报备条款为准；
                        2、车辆驾驶员或操作员需持国家有关部门核发的有效驾驶证或操作证；
                        3、投保人指车辆所有人或车辆所属单位， 被保险人指投保车辆的驾乘人员；
                        4、被保险人年龄为1-70周岁（含），驾乘投保车辆须符合国家相关规定，受益人为法定；
                        5、投保车辆必须符合国家规定的车辆使用标准，具备合法有效的行驶证、年检证明、许可证书或其他必备证书，并已投保交强险；
                        6、严格按照车辆行驶证核定的座位数和吨位数投保，投保内容和行驶证内容不符，则保单无效，每位被保险人的保险金额以保单列明为限；
                        7、投保车辆实际所有人发生保险责任范围内的意外身故，或意外伤残一级，理赔后保单失效，保险责任终止；
                        8、工程机械按车架号投保，不用投保交强险，出险后以安监部门相关证明或出险单位事故证明并结合保险公司调查来认定保险责任；
                        9、由罐藏车载运物本身所导致的意外事故或爆炸事故属于保险除外责任；
                        10、无论持有几份同类或同款保单，保险人对同一车辆的被保险人所承担的保险责任以该车型可购买的最高份为限，超过部分无效。
                    </pre>
                </td>

            </tr>
            <tr>
                <td class="container">
                    <h4>太保驾乘意外险A款</h4>
                    <hr>
                    <pre>
                      1、仅承保因被保险人合法驾驶或乘坐他人合法驾驶的营运机动车，在车辆行驶过程中于车厢内遭受意外伤害事故导致的保险责任。
                        2、根据《中国保监会关于父母为其未成年子女投保以死亡为给付保险金条件人身保险有关问题的通知》【保监发（2015）90号】规定，对于被保险人不满10周岁的,死亡给付保险金额总和不得超过人民币20万元；被保险人已满10周岁但未满18周岁的，死亡给付保险金额总和不得超过人民币50万元。本保险单可承保的未成年被保险人身故保险金额为国务院保险监督管理机构规定的限额扣除其在本公司及其他保险公司已经参保的身故保险金额后的差额部分（不包含航空意外死亡保险金额及重大自然灾害意外死亡保险金额）
                        3、意外医疗：500免，90%赔付；
                        4、投保车辆必须符合国家规定的车辆使用标准，具备合法有效的行驶证、年检证明、许可证书或其他必备证书，并已投保交强险；
                        5、严格按照车辆行驶证核定的座位数投保，投保内容和行驶证内容不符，则保单无效，每位被保险人的保险金额以保单列明为限。
                        6、伤残鉴定标准以《人身保险伤残评定标准（行业标准）》（中保协发（2013）88号）为准，标准如下：
                        残疾程度	一级	二级	三级	四级	五级	六级	七级	八级	九级	十级
                        给付比例	100%	90%	80%	70%	60%	50%	40%	30%	20%	10%
                        7、本产品限购5份
                </pre>
                </td>

            </tr>
            <tr>
                <td class="container">
                    <h4>PICC机动车驾驶人员意外伤害组合保险A款</h4>
                    <hr>
                    <pre>
                       保障期限：1年
                        购买份数：1-5份

                        产品计划　　　　　　　　　　使用性质　　　　　座位数　　　保费（每份）
                        －－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－　　　　　　
                        5座及以下客车　　　　　　　 非营运　　　　　　2-5座　　　　 90元
                        6-9座客车　　　　　　　　　 非营运　　　　　　6-9座　　　　100元　　　　　　　
                        5座及以下客车　　　　　　　 营运　　　　　　　2-5座　　　　110元
                        6-9座客车　　　　　　　　　 营运　　　　　　　6-9座　　　　120元
                        2吨及以下货车　　　　　　　 非营运/营运　　　 2-5座　　　　180元
                        2吨以上~10吨货车　　　　　 非营运/营运　　　 2-3座　　　　200元
                        10吨以上货车　　　　　　　 非营运/营运　　　 2-3座　　　　200元
                        特种车二和三（专用车）　　 　非营运/营运　　　 1-3座　　　　130元
                        特种车一（灌装车）　　　　 　非营运/营运　　　 2-3座　　　　160元
                        特种四或其他特种车 　非营运/营运　　　 2-3座　　　　200元

                        保障内容（每份）：
                        1、意外身故/残疾10万/座
                        2、意外医疗1万/座
                        3、意外医疗住院津贴30/天/座，最长180天
                        4、意外医疗每次事故免赔额 免赔500元，100%赔付

                        特别约定：
                        1、保险条款以报备条款为准；
                        2、车辆驾驶员或操作员需持国家有关部门核发的有效驾驶证或操作证；
                        3、投保人指车辆所有人或车辆所属单位， 被保险人指投保车辆的驾乘人员；
                        4、被保险人年龄为1-70周岁（含），驾乘投保车辆须符合国家相关规定，受益人为法定；
                        5、投保车辆必须符合国家规定的车辆使用标准，具备合法有效的行驶证、年检证明、许可证书或其他必备证书，并已投保交强险；
                        6、严格按照车辆行驶证核定的座位数和吨位数投保，投保内容和行驶证内容不符，则保单无效，每位被保险人的保险金额以保单列明为限；
                        7、投保车辆实际所有人发生保险责任范围内的意外身故，或意外伤残一级，理赔后保单失效，保险责任终止；
                        8、工程机械按车架号投保，不用投保交强险，出险后以安监部门相关证明或出险单位事故证明并结合保险公司调查来认定保险责任；
                        9、由罐藏车载运物本身所导致的意外事故或爆炸事故属于保险除外责任；
                        10、无论持有几份同类或同款保单，保险人对同一车辆的被保险人所承担的保险责任以该车型可购买的最高份为限，超过部分无效
                    </pre>
                </td>

            </tr>
            <tr>
                <td class="container">
                    <h4>PICC机动车驾驶人员意外伤害组合保险B款</h4>
                    <hr>
                    <pre>
                        保障期限：1年
                        购买份数：1-5份

                        产品计划　　　　　　　　　　使用性质　　　　　座位数　　　保费（每份）
                        －－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－　　　　　　
                        5座及以下客车　　　　　　　 非营运　　　　　　2-5座　　　　110元
                        6-9座客车　　　　　　　　　 非营运　　　　　　6-9座　　　　120元　　　　　　　
                        5座及以下客车　　　　　　　 营运　　　　　　　2-5座　　　　140元
                        6-9座客车　　　　　　　　　 营运　　　　　　　6-9座　　　　150元
                        2吨及以下货车　　　　　　　 非营运/营运　　　 2-5座　　　　190元
                        2吨以上~10吨货车　　　　　 非营运/营运　　　 2-3座　　　　220元
                        10吨以上货车　　　　　　　 非营运/营运　　　 2-3座　　　　210元
                        特种车二和三（专用车）　　 　非营运/营运　　　 1-3座　　　　140元
                        特种车一（灌装车）　　　　 　非营运/营运　　　 2-3座　　　　180元
                        特种四或其他特种车 　非营运/营运　　　 2-3座　　　　220元

                        保障内容（每份）：
                        1、意外身故/残疾10万/座
                        2、意外医疗1万/座
                        3、意外医疗住院津贴30/天/座，最长180天
                        4、意外医疗每次事故免赔额 免赔500元，100%赔付

                        特别约定：
                        1、保险条款以报备条款为准；
                        2、车辆驾驶员或操作员需持国家有关部门核发的有效驾驶证或操作证；
                        3、投保人指车辆所有人或车辆所属单位， 被保险人指投保车辆的驾乘人员；
                        4、被保险人年龄为1-70周岁（含），驾乘投保车辆须符合国家相关规定，受益人为法定；
                        5、投保车辆必须符合国家规定的车辆使用标准，具备合法有效的行驶证、年检证明、许可证书或其他必备证书，并已投保交强险；
                        6、严格按照车辆行驶证核定的座位数和吨位数投保，投保内容和行驶证内容不符，则保单无效，每位被保险人的保险金额以保单列明为限；
                        7、投保车辆实际所有人发生保险责任范围内的意外身故，或意外伤残一级，理赔后保单失效，保险责任终止；
                        8、工程机械按车架号投保，不用投保交强险，出险后以安监部门相关证明或出险单位事故证明并结合保险公司调查来认定保险责任；
                        9、由罐藏车载运物本身所导致的意外事故或爆炸事故属于保险除外责任；
                        10、无论持有几份同类或同款保单，保险人对同一车辆的被保险人所承担的保险责任以该车型可购买的最高份为限，超过部分无效。
                                            </pre>
                </td>

            </tr>
            <tr>
                <td class="container">
                    <h4>PICC机动车驾驶人员意外伤害组合保险C款</h4>
                    <hr>
                    <pre>
                        保障期限：1年
                        购买份数：1-5份

                        产品计划　　　　　　　　　　使用性质　　　　　座位数　　　保费（每份）
                        －－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－　　　　　　
                        5座及以下客车　　　　　　　 非营运　　　　　　2-5座　　　　130元
                        6-9座客车　　　　　　　　　 非营运　　　　　　6-9座　　　　140元　　　　　　　
                        5座及以下客车　　　　　　　 营运　　　　　　　2-5座　　　　160元
                        6-9座客车　　　　　　　　　 营运　　　　　　　6-9座　　　　170元
                        2吨及以下货车　　　　　　　 非营运/营运　　　 2-5座　　　　210元
                        2吨以上~10吨货车　　　　　 非营运/营运　　　 2-3座　　　　240元
                        10吨以上货车　　　　　　　 非营运/营运　　　 2-3座　　　　230元
                        特种车二和三（专用车）　　 　非营运/营运　　　 1-3座　　　　160元
                        特种车一（灌装车）　　　　 　非营运/营运　　　 2-3座　　　　200元
                        特种四或其他特种车 　非营运/营运　　　 2-3座　　　　240元

                        保障内容（每份）：
                        1、意外身故/残疾10万/座
                        2、意外医疗1万/座
                        3、意外医疗住院津贴30/天/座，最长180天
                        4、意外医疗每次事故免赔额 免赔500元，100%赔付

                        特别约定：
                        1、保险条款以报备条款为准；
                        2、车辆驾驶员或操作员需持国家有关部门核发的有效驾驶证或操作证；
                        3、投保人指车辆所有人或车辆所属单位， 被保险人指投保车辆的驾乘人员；
                        4、被保险人年龄为1-70周岁（含），驾乘投保车辆须符合国家相关规定，受益人为法定；
                        5、投保车辆必须符合国家规定的车辆使用标准，具备合法有效的行驶证、年检证明、许可证书或其他必备证书，并已投保交强险；
                        6、严格按照车辆行驶证核定的座位数和吨位数投保，投保内容和行驶证内容不符，则保单无效，每位被保险人的保险金额以保单列明为限；
                        7、投保车辆实际所有人发生保险责任范围内的意外身故，或意外伤残一级，理赔后保单失效，保险责任终止；
                        8、工程机械按车架号投保，不用投保交强险，出险后以安监部门相关证明或出险单位事故证明并结合保险公司调查来认定保险责任；
                        9、由罐藏车载运物本身所导致的意外事故或爆炸事故属于保险除外责任；
                        10、无论持有几份同类或同款保单，保险人对同一车辆的被保险人所承担的保险责任以该车型可购买的最高份为限，超过部分无效
                    </pre>
                </td>

            </tr>
            <tr>
                <td class="container">
                    <h4>珠峰财产驾乘意外伤害保险</h4>
                    <hr>
                    <pre>
                       保障期限：1年
                        购买份数：1-5份

                        产品计划　　　　　　　　　　使用性质　　　　　　　　保费（每份）
                        －－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－　　　　　　
                        2-5座客车　　　　　　　　　　非营运　　　　　　　　　150元
                        6-9座客车　　　　　　　　　　非营运　　　　　　　　　180元　　　　　　　
                        2-5座客车　　　　　　　　　　营运　　　　　　　　　　200元
                        6-9座客车　　　　　　　　　　营运　　　　　　　　　　230元
                        2吨及以下货车　　　　　　　 非营运/营运　　　　　　　200元
                        2吨以上-5吨货车　　　　　　非营运/营运　　　　　　　240元
                        5吨以上-10吨货车　　　　　　非营运/营运　　　　　　　260元
                        10吨以上货车　　　　　　　　　非营运/营运　　　　　　　280元
                        特种车　　　　　　 　　　非营运/营运　　　　　　　280元


                        保障内容（每份）
                        1、意外身故/残疾 10万/座
                        2、意外医疗 1万/座
                        3、意外医疗住院津贴 30/天/座，最长180天
                        4、意外医疗每次事故免赔额 免赔300元，按90%赔付

                        特别约定：
                        1、本保单适用珠峰财产保险股份有限公司《指定车辆驾乘人员意外伤害保险条款》《附加个人意外伤害医疗保险条款》、《附加个人意外伤害住院津贴保险条款》，请投保人认真阅读条款内容及责任免除内容，相悖之处以本特别约定为准， 其余部分以珠峰财产保险股份有限公司《指定车辆驾乘人员意外伤害保险条款》《附加个人意外伤害医疗保险条款》《附加个人意外伤害住院津贴保险条款》为准；
                        2、被保险人年龄为1-90周岁（含），驾乘投保车辆须符合国家相关规定，受益人为法定；
                        3、投保车辆必须符合国家规定的车辆使用标准，具备合法有效的行驶证、年检证明、许可证书或其他必备证书，并已投保交强险；
                        4、严格按照车辆行驶证核定的座位数和吨位数投保，投保内容和行驶证内容不符，则保单无效，每位被保险人的保险金额以保单列明为限；
                        5、意外医疗费用限在二级及以上医疗机构（重症抢救除外）发生且符合投保所在地社会基本医疗保险药品目录、诊疗项目目录以及服务设施范围和支付标准的医疗费用,每次事故每人免赔额为300元，赔付比例为90%，意外住院津贴最高赔付180天，免赔期3天，保险金额以保单载明为准；
                        6、投保车辆实际所有人发生保险责任范围内的意外身故或意外伤残一级，理赔后保单失效，保险责任终止；若投保车辆车辆报废或转手，则本保单失效；
                        7、根据中国保监会规定，不满 10 周岁的未成年人的身故责任保额累计不得超过20万元。若累计（含所有保险公司）超过20万元，则赔付以20万元为限。已满 10 周岁但未满 18 周岁的未成年人的身故责任保额累计不得超过50万元。若累计（含所有保险公司）超过50万元，则赔付以50万元为限；
                        8、被保险人因中暑、猝死、高原反应而导致伤亡的，保险人不承担给付保险金的责任；
                        9、本保单只承担在保险期限内被保险人驾驶或者乘坐本合同指定机动车辆并在行驶过程中遭受意外伤害事故的保险赔偿责任（不包括为该车辆加油、加水、故障修理、换胎而临时停放等所有车外作业过程及上下车过程中遭受的意外伤害事故）；
                        10、本产品不承保工程机械、罐藏车。
                        禁止承保特二部分车型：起重车、挖掘机、推土机、清障车、装卸（不含自卸）车、升降车、搅拌车、冷藏车、保温车、特一以外的灌式货车及混凝土搅拌车集装箱拖头及散单业务；
                        禁止承保自卸车、渣土车、农用车、摩托车、拖拉机、低速载货汽车；
                        禁止承保特种三：监测车、消防车、运钞车、医疗救护车、电视转播流动车；
                        不允许单独承保挂车个单业务，主车在我公司承保时，才能承保挂车业务。
                        11、销售区域限制：本业务销售区域不包含安徽、新疆、河南地区的车辆，即皖、新、豫牌照车辆不可购买本产品；
                        12、在北京平谷，延庆地区所有医院的就诊不予理赔。
                    </pre>
                </td>

            </tr>

          

        </table>
    </div>
</div>
<script src="../../../js/index1.js"></script>
</body>
</html>