<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>万众保险业务员端</title>
    <link rel="stylesheet" href="../../../css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../../../css/bootstrap.min.css">
    <script src="../../../js/jquery-1.11.1.js"></script>
    <script src="../../../js/bootstrap.min.js"></script>


    <style>
        li{
            list-style-type: none;
        }

        a:hover{
            text-decoration:none;
          color: #5bc0de;
        }


    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row">
   <div class="col-md-12 row" style="">
   <div class="col-md-11">
	 <h5 style="padding-left: 2%">保险名录/1F一年期(含以下)电子保单类产品/团体意外险</h5>
   
	  </div>
	  
    <div class="col-md-1">
	     <button id="back" class="btn btn-default">返回</button>
	  </div>
   </div>
	  
        <table class="table">

            <tr>
                <td class="container">
                    <h4>安心团体意外伤害保险E款 供应商安心互联网保险</h4>
                    <hr>
                    <pre>
		                        保险对象：年龄在16-65周岁，1-6类职业的机关、企业、事业单位和各类社会团体
		                        保险期限： 1年
		
		                        保险责任和保险金额：
		                        意外伤害最高保额：1-2类职业最高100万，3-4类职业最高80万，5-6类职业最高60万；
		                        意外伤害医疗最高保额：不超过意外伤害保额的20%；
		                        住院津贴：50-150元/天，5-6类职业最高100元/天，3天免赔
		                        疾病住院：2万元，免赔额赔付比例同意外医疗

                                              投保须知：
                        1、年满16周岁（含）至18周岁（不含）未成年人意外伤害保险责任最高保险金额不超高50万元；
                        2、本保险1-6类职业均可投保，不按实际职业类别投保的，保险公司不承担保险责任；
                        3、疾病住院医疗等待期90天，转续保无等待期；
                        4、意外医疗、疾病住院及意外医疗扩展（医保外）责任采用同一免赔额赔付比例标准；
                        5、伤残评定和赔付比例按照行业标准，赔付比例为1级-10级，赔付100%-10%：
                        6、每张保单总保额累计不超过8000万元，超过需要拆单投保。
                        7、保险公司认可医院为二级及以上公立医院，北京平谷地区医院除外；
                        8、本保险每张保单最低承保人数5人，投保批改全线上操作，无换人比例限制；
                        9、特殊行业投保人需参照“特殊行业承保政策（参见产品简介）”投保。
                    </pre>
                </td>





            </tr>
            <tr>
                <td class="container">
                    <h4>中意团体意外险D款</h4>
                    <hr>
                    <pre>
                    保险对象：1-3类风险的企业员工
                    被保险人年龄：16周岁—65周岁
                    保险期限：1年
                    特别告知：
                    1.保险起期为T+3；
                    2.被保险人投保职业为1-3类，（每人限购一份）；
                    3.意外伤害医疗不得超过意外身故的10%；
                    意外身故30万，住院津贴不超过100元/天（免赔3天）；
                    意外身故50万，住院津贴不超过200元/天（免赔3天）。
                    4.折扣率
                    职业类别　　　　承保人数　　　　　折扣系数
                    1-3类　　　　　 5-199人　　　　　　100%
                    　　　　　　　　200-499人　　　　　意外身故和意外医疗75%　　　　意外住院津贴100%
                    　　　　　　　　500人以上　　　　　意外身故和意外医疗65%　　　　意外住院津贴100%
                                            </pre>
                </td>

            </tr>

            <tr>
                <td class="container">
                    <h4>安心团体意外伤害保险D款</h4>
                    <hr>
                    <pre>
                        保险对象：年龄在16-65周岁，1-6类职业的机关、企业、事业单位和各类社会团体
                        保险期限： 1年

                        保险责任和保险金额：
                        意外伤害最高保额：1-2类职业最高100万，3-4类职业最高80万，5-6类职业最高60万；
                        意外伤害医疗最高保额：不超过意外伤害保额的20%；
                        住院津贴：50-150元/天，5-6类职业最高100元/天，3天免赔
                        疾病住院：2万元，免赔额赔付比例同意外医疗

                        投保须知：
                        1、年满16周岁（含）至18周岁（不含）未成年人意外伤害保险责任最高保险金额不超高50万元；
                        2、本保险1-6类职业均可投保，不按实际职业类别投保的，保险公司不承担保险责任；
                        3、疾病住院医疗等待期90天，转续保无等待期；
                        4、意外医疗、疾病住院及意外医疗扩展（医保外）责任采用同一免赔额赔付比例标准；
                        5、伤残评定和赔付比例按照行业标准，赔付比例为1级-10级，赔付100%-10%：
                        6、每张保单总保额累计不超过8000万元，超过需要拆单投保。
                        7、保险公司认可医院为二级及以上公立医院，北京平谷地区医院除外；
                        8、本保险每张保单最低承保人数5人，投保批改全线上操作，无换人比例限制；
                        9、特殊行业投保人需参照“特殊行业承保政策（参见产品简介）”投保。
                    </pre>
                </td>

            </tr>
            <tr>
                <td class="container">
                    <h4>中意团体意外险C款</h4>
                    <hr>
                    <pre>
                        保险对象：1-3类风险的企业员工
                        被保险人年龄：16周岁—65周岁
                        保险期限：1年
                        特别告知：
                        1.保险起期为T+3；
                        2.被保险人投保职业为1-3类，（每人限购一份）；
                        3.意外伤害医疗不得超过意外身故的10%；
                        意外身故30万，住院津贴不超过100元/天（免赔3天）；
                        意外身故50万，住院津贴不超过200元/天（免赔3天）。
                        4.折扣率
                        职业类别　　　　承保人数　　　　　折扣系数
                        1-3类　　　　　 5-199人　　　　　　100%
                        　　　　　　　　200-499人　　　　　意外身故和意外医疗75%　　　　意外住院津贴100%
                        　　　　　　　　500人以上　　　　　意外身故和意外医疗65%　　　　意外住院津贴100%
                </pre>
                </td>

            </tr>
            <tr>
                <td class="container">
                    <h4>安心团体意外伤害保险E款 供应商安心互联网保险</h4>
                    <hr>
                    <pre>
			                        保险对象：年龄在16-65周岁，1-6类职业的机关、企业、事业单位和各类社会团体
			                        保险期限： 1年
			
			                        保险责任和保险金额：
			                        意外伤害最高保额：1-2类职业最高100万，3-4类职业最高80万，5-6类职业最高60万；
			                        意外伤害医疗最高保额：不超过意外伤害保额的20%；
			                        住院津贴：50-150元/天，5-6类职业最高100元/天，3天免赔
			                        疾病住院：2万元，免赔额赔付比例同意外医疗
			
			                        投保须知：
                        1、年满16周岁（含）至18周岁（不含）未成年人意外伤害保险责任最高保险金额不超高50万元；
                        2、本保险1-6类职业均可投保，不按实际职业类别投保的，保险公司不承担保险责任；
                        3、疾病住院医疗等待期90天，转续保无等待期；
                        4、意外医疗、疾病住院及意外医疗扩展（医保外）责任采用同一免赔额赔付比例标准；
                        5、伤残评定和赔付比例按照行业标准，赔付比例为1级-10级，赔付100%-10%：
                        6、每张保单总保额累计不超过8000万元，超过需要拆单投保。
                        7、保险公司认可医院为二级及以上公立医院，北京平谷地区医院除外；
                        8、本保险每张保单最低承保人数5人，投保批改全线上操作，无换人比例限制；
                        9、特殊行业投保人需参照“特殊行业承保政策（参见产品简介）”投保。
                    </pre>
                </td>

            </tr>
            <tr>
                <td class="container">
                    <h4>安心团体意外伤害保险C款</h4>
                    <hr>
                    <pre>
		                        保险对象：年龄在16-65周岁，1-6类职业的机关、企业、事业单位和各类社会团体
		                        保险期限： 1年
		
		                        保险责任和保险金额：
		                        意外伤害最高保额：1-2类职业最高100万，3-4类职业最高80万，5-6类职业最高60万；
		                        意外伤害医疗最高保额：不超过意外伤害保额的20%；
		                        住院津贴：50-150元/天，5-6类职业最高100元/天，3天免赔
		                        疾病住院：2万元，免赔额赔付比例同意外医疗
		
		                        投保须知：
                        1、年满16周岁（含）至18周岁（不含）未成年人意外伤害保险责任最高保险金额不超高50万元；
                        2、本保险1-6类职业均可投保，不按实际职业类别投保的，保险公司不承担保险责任；
                        3、疾病住院医疗等待期90天，转续保无等待期；
                        4、意外医疗、疾病住院及意外医疗扩展（医保外）责任采用同一免赔额赔付比例标准；
                        5、伤残评定和赔付比例按照行业标准，赔付比例为1级-10级，赔付100%-10%：
                        6、每张保单总保额累计不超过8000万元，超过需要拆单投保。
                        7、保险公司认可医院为二级及以上公立医院，北京平谷地区医院除外；
                        8、本保险每张保单最低承保人数5人，投保批改全线上操作，无换人比例限制；
                        9、特殊行业投保人需参照“特殊行业承保政策（参见产品简介）”投保。
                                            </pre>
                </td>

            </tr>
            <tr>
                <td class="container">
                    <h4>中意团体意外险B款</h4>
                    <hr>
                    <pre>
                        保险对象：1-3类风险的企业员工
                        被保险人年龄：16周岁—65周岁
                        保险期限：1年
                        特别告知：
                        1.保险起期为T+3；
                        2.被保险人投保职业为1-3类，（每人限购一份）；
                        3.意外伤害医疗不得超过意外身故的10%；
                        意外身故30万，住院津贴不超过100元/天（免赔3天）；
                        意外身故50万，住院津贴不超过200元/天（免赔3天）。
                        4.折扣率
                        职业类别　　　　承保人数　　　　　折扣系数
                        1-3类　　　　　 5-199人　　　　　　100%
                        　　　　　　　　200-499人　　　　　意外身故和意外医疗75%　　　　意外住院津贴100%
                        　　　　　　　　500人以上　　　　　意外身故和意外医疗65%　　　　意外住院津贴100%
                    </pre>
                </td>

            </tr>
            <tr>
                <td class="container">
                    <h4>安心团体意外伤害保险B款</h4>
                    <hr>
                    <pre>
                        保险对象：年龄在16-65周岁，1-6类职业的机关、企业、事业单位和各类社会团体
                        保险期限： 1年

                        保险责任和保险金额：
                        意外伤害最高保额：1-2类职业最高100万，3-4类职业最高80万，5-6类职业最高60万；
                        意外伤害医疗最高保额：不超过意外伤害保额的20%；
                        住院津贴：50-150元/天，5-6类职业最高100元/天，3天免赔
                        疾病住院：2万元，免赔额赔付比例同意外医疗

                        投保须知：
                        1、年满16周岁（含）至18周岁（不含）未成年人意外伤害保险责任最高保险金额不超高50万元；
                        2、本保险1-6类职业均可投保，不按实际职业类别投保的，保险公司不承担保险责任；
                        3、疾病住院医疗等待期90天，转续保无等待期；
                        4、意外医疗、疾病住院及意外医疗扩展（医保外）责任采用同一免赔额赔付比例标准；
                        5、伤残评定和赔付比例按照行业标准，赔付比例为1级-10级，赔付100%-10%：
                        6、每张保单总保额累计不超过8000万元，超过需要拆单投保。
                        7、保险公司认可医院为二级及以上公立医院，北京平谷地区医院除外；
                        8、本保险每张保单最低承保人数5人，投保批改全线上操作，无换人比例限制；
                        9、特殊行业投保人需参照“特殊行业承保政策（参见产品简介）”投保。
                    </pre>
                </td>

            </tr>
            <tr>
                <td class="container">
                    <h4>中意团体意外险A款</h4>
                    <hr>
                    <pre>
                        保险对象：1-3类风险的企业员工
                        被保险人年龄：16周岁—65周岁
                        保险期限：1年
                        特别告知：
                        1.保险起期为T+3；
                        2.被保险人投保职业为1-3类，（每人限购一份）；
                        3.意外伤害医疗不得超过意外身故的10%；
                        意外身故30万，住院津贴不超过100元/天（免赔3天）；
                        意外身故50万，住院津贴不超过200元/天（免赔3天）。
                        4.折扣率
                        职业类别　　　　承保人数　　　　　折扣系数
                        1-3类　　　　　 5-199人　　　　　　100%
                        　　　　　　　　200-499人　　　　　意外身故和意外医疗75%　　　　意外住院津贴100%
                        　　　　　　　　500人以上　　　　　意外身故和意外医疗65%　　　　意外住院津贴100%
                    </pre>
                </td>

            </tr>
            <tr>
                <td class="container">
                    <h4>太保企业员工意外保险DIY款（2017版）</h4>
                    <hr>
                    <pre>
                        保险对象：1-6类的身体健康、能正常工作或正常生活的自然人
                        被保险人年龄：16周岁—65周岁
                        保险期限：1年

                        特别提醒：
                        1、职业类别请准确勾选（人员类别详见《中国太平洋财产保险股份有限公司职业分类表》），如被保险人的职业类别与实际情况不符合，保险公司有权以《中国太平洋财产保险股份有限公司职业分类表 》为准确定是否属保险责任
                        2、本保险不承保危险品、脚手架、各类木业业及任何七类人员；各类建材、玻璃、石材、五金、制冷、安装行业按5、6类人员投保（无论工种）；建筑安装、钢、基础工程、金属及家具行业需加费20%
                        3、本产品投保人必须为企业且5人起保
                        4、本保单不赔偿因任何原因猝死导致的保险责任
                        5、通过保险e超市每人限购：1/2类人员最高保额80万，3/4类人员最高保额50万，5/6类人员最高保额30万。
                    </pre>
                </td>

            </tr>
            <tr>
                <td class="container">
                    <h4>太保e行无忧（团体）2017版</h4>
                    <hr>
                    <pre>
                        保险对象：1-3类的身体健康、能正常工作或正常生活的自然人
                        被保险人年龄：16周岁—65周岁
                        保险期限：1年

                        特别提醒：
                        1、	职业类别请准确勾选（人员类别详见《中国太平洋财产保险股份有限公司职业分类表》），如被保险人的职业类别与实际情况不符合，保险公司有权以《中国太平洋财产保险股份有限公司职业分类表 》为准确定是否属保险责任
                        2、 本产品仅承保1-3类人员
                        3、	本产品投保人必须为企业且5人起保
                        4、	本保单不赔偿因任何原因猝死导致的保险责任
                    </pre>
                </td>

            </tr>
            <tr>
                <td class="container">
                    <h4>平安企业员工意外险2018版</h4>
                    <hr>
                    <pre>
                        保险对象：年龄在18周岁—65周岁的职员
                        保险期限：1年

                        保险责任和保险金额：
                        1、意外身故/残疾/烧烫伤：10万-100万
                        2、意外伤害医疗：1万—10万
                        3、意外伤害住院津贴：30元/天—150元/天
                        4、疾病住院津贴：30元/天—80元/天
                        5、乘坐客运民航班机身故、伤残、烧伤：20万—200万
                        6、乘坐客运轨道交通身故、伤残、烧伤：10万—50万
                        7、乘坐客运轮船身故、伤残、烧伤：10万—50万
                        8、乘坐客运机动车身故、伤残、烧伤：10万—30万
                        9、驾驶或乘坐家庭自用车身故、伤残、烧伤：5万—15万

                        建筑及建设行业按照5类职业投保，且意外伤害最高保额不超过50万；其他涉及高空作业的行业，3-4类职业类别需按照5类职业投保，且意外伤害保额最高50万。

                        特别告知：

                        1、意外身故/伤残/烧烫伤可投保保额：3-4类职业最高60万，5类职业最高50万； 意外医疗：3-5类职业可投保保额最高5万；意外住院津贴：3-5类职业可投保保额最高100元/天。
                        2、1-4类职业5人起保，5类职业15人起保。
                        3、建筑及建设行业按照5类职业投保，且意外伤害保额最高50万；其他涉及高空作业的行业，3-4类职业类别需按照5类职业投保，且意外伤害保额最高50万。
                        4、凡投保人名称种含有以下关键词将进行拒保：金属、五金、铸造、玻璃、木制品、家具、家俱、木器、木业、木材、幕墙、疏浚工程、建材、石材、脚手架、钢结构，拆房、防腐。
                        5、被保险人从事高处作业{凡在坠落高度基准面2米有可能坠落的高处进行的作业}过程中，因未系安全带导致的保险事故，属于除外责任。
                        6、被保险人从事高处作业{凡在坠落高度基准面 10ｍ以上(含 10ｍ)有可能坠落的高处进行的作业}过程中发生的事故为除外责任。“高处作业”以《高处作业分级标准》（中华人民共和国国家标准 GB 3608－2008）中的定义为准"。
                        7、未取得对应的特种作业证书进行特种作业操作引起的意外事故，保险公司不承担保险责任。特种作业的相关定义以国家《特种作业人员安全技术培训考核管理办法》为准。
                        8、被保险人因遭受意外伤害事故并在医院进行治疗，本公司就本次事故发生之日起一百八十天内实际支出的合理医疗费用超过人民币0元部分按100%比例给付意外伤害医疗保险金。
                        9、本保单承保180天后拆除内固定费用，限额5000元。
                        10、意外伤害残疾赔付标准，按照保单主险条款所附《人身保险伤残评定标准（行业标准）（中保协发〔2013〕88号）》中意外伤害残疾一至十级对应给付比例分别为意外伤害保额的,100%，90%，80%，70%，60%，50%，40%，30%，20%，10%。保险合同中其他条款与本特别约定存在不一致的，以本特别约定为准。
                        11、平安住院安心团体健康保险仅承担一般住院津贴责任，且初次投保有30天住院观察期，绝对免赔天数3天。
                        12、本保单只承保一份，多投无效。
                        13、被保险人从事高处作业时因未系绑安全带导致的保险事故属除外责任。高处作业以《高处作业分级标准》（中华人民共和国国家标准GB3608－2008）中的定义为准。
                    </pre>
                </td>

            </tr>
            <tr>
                <td class="container">
                    <h4>太保企业员工意外保险定额款(2017版)</h4>
                    <hr>
                    <pre>
                        保险对象：1-6类的身体健康、能正常工作或正常生活的自然人
                        被保险人年龄：16周岁—65周岁
                        保险期限：1年

                        特别提醒：
                        1、职业类别请准确勾选（人员类别详见《中国太平洋财产保险股份有限公司职业分类表》），如被保险人的职业类别与实际情况不符合，保险公司有权以《中国太平洋财产保险股份有限公司职业分类表 》为准确定是否属保险责任
                        2、本保险不承保危险品、脚手架、各类木业业及任何七类人员；各类建材、玻璃、石材、五金、制冷、安装行业按5、6类人员投保（无论工种）；建筑安装、钢、基础工程、金属及家具行业需加费20%
                        3、本产品投保人必须为企业且5人起保
                        4、本保单不赔偿因任何原因猝死导致的保险责任
                        5、通过保险e超市每人限购：1/2类人员最高保额80万，3/4类人员最高保额50万，5/6类人员最高保额30万。
                    </pre>
                </td>

            </tr>
            <tr>
                <td class="container">
                    <h4>人保健康团体意外险(2017)B款</h4>
                    <hr>
                    <pre>
                       保险对象：年龄在16周岁—65周岁的职员
                        保险期限：1年

                        保险责任和保险金额：
                        　1、意外身故/残疾/烧烫伤：10万—100万
                        　2、意外伤害医疗：1万—10万
                        　3、意外伤害住院津贴：50元/天—200元/天

                        特别告知：
                        1、被保险人因遭受意外伤害事故导致其身故或残疾的，按保险金额或对应的残疾给付意外身故或意外残疾保险金。
                        2、被保险人因遭受意外伤害事故发生产生的合理且必需的医疗费用，对未享有社会医疗保险或公费医疗的被保险人，保险公司按照90%给付意外伤害医疗保险金；若被保险人享有社会医疗保险或公费医疗并已获得相应补偿的，对于在保险责任范围内的剩余医疗费用，保险公司按照100%给付；
                        3、被保险人因意外伤害经医院诊断必须住院治疗，按照被保险人医院天数给付一般住院日额保险金
                        4、对于投保单位名称中包含：造船、船舶、船务、钢结构、钢架、钢骨、防腐、脚手架、高压电、玻璃、制冷、幕墙、家具、木业、建筑等字段的投保人，3-4类人员需按照5-6类人员对应保费投保；5-6类人员保费不变，最高保额降到30万元；
                        5、拒保行业：煤炭开采和洗选业、金属矿采选业、水上运输业（远洋）、仓储业（危险品）。
                        6、拒保职业：电梯安装及维修工、空调安装及维修工、武打演员、特技演员、涉及高处作业的相关职业。高空作业是指凡在坠落高度基准面2米以上含2米，有可能坠落的高处进行作业，都称为高处作业，如玻璃幕墙安装工人、空调外机安装工、高压电工程人员、广告招牌架设人员（高处）、广告招牌绘制人员（高处）、脚手架安装搭建人员等。
                    </pre>
                </td>

            </tr>
            <tr>
                <td class="container">
                    <h4>人保健康团体意外险(2017)A款</h4>
                    <hr>
                    <pre>
                        保险对象：年龄在16周岁—65周岁的职员
                        保险期限：1年

                        保险责任和保险金额：
                        　1、意外身故/残疾/烧烫伤：10万—100万
                        　2、意外伤害医疗：1万—10万
                        　3、意外伤害住院津贴：50元/天—200元/天

                        特别告知：
                        1、被保险人因遭受意外伤害事故导致其身故或残疾的，按保险金额或对应的残疾给付意外身故或意外残疾保险金。
                        2、被保险人因遭受意外伤害事故发生产生的合理且必需的医疗费用，对未享有社会医疗保险或公费医疗的被保险人，保险公司按照90%给付意外伤害医疗保险金；若被保险人享有社会医疗保险或公费医疗并已获得相应补偿的，对于在保险责任范围内的剩余医疗费用，保险公司按照100%给付；
                        3、被保险人因意外伤害经医院诊断必须住院治疗，按照被保险人医院天数给付一般住院日额保险金
                        4、对于投保单位名称中包含：造船、船舶、船务、钢结构、钢架、钢骨、防腐、脚手架、高压电、玻璃、制冷、幕墙、家具、木业、建筑等字段的投保人，3-4类人员需按照5-6类人员对应保费投保；5-6类人员保费不变，最高保额降到30万元；
                        5、拒保行业：煤炭开采和洗选业、金属矿采选业、水上运输业（远洋）、仓储业（危险品）。拒保职业：电梯安装及维修工、空调安装及维修工、武打演员、特技演员、涉及高处作业的相关职业。高空作业是指凡在坠落高度基准面2米以上含2米，有可能坠落的高处进行作业，都称为高处作业，如玻璃幕墙安装工人、空调外机安装工、高压电工程人员、广告招牌架设人员（高处）、广告招牌绘制人员（高处）、脚手架安装搭建人员等。
                    </pre>
                </td>

            </tr>
            <tr>
                <td class="container">
                    <h4>安心团体意外伤害保险A款</h4>
                    <hr>
                    <pre>
                        保险对象：年龄在16-65周岁，1-6类职业的机关、企业、事业单位和各类社会团体
                        保险期限： 1年

                        保险责任和保险金额：
                        意外伤害最高保额：1-2类职业最高100万，3-4类职业最高80万，5-6类职业最高60万；
                        意外伤害医疗最高保额：不超过意外伤害保额的20%；
                        住院津贴：50-150元/天，5-6类职业最高100元/天，3天免赔
                        疾病住院：2万元，免赔额赔付比例同意外医疗

                        投保须知：
                        1、年满16周岁（含）至18周岁（不含）未成年人意外伤害保险责任最高保险金额不超高50万元；
                        2、本保险1-6类职业均可投保，不按实际职业类别投保的，保险公司不承担保险责任；
                        3、疾病住院医疗等待期90天，转续保无等待期；
                        4、意外医疗、疾病住院及意外医疗扩展（医保外）责任采用同一免赔额赔付比例标准；
                        5、伤残评定和赔付比例按照行业标准，赔付比例为1级-10级，赔付100%-10%：
                        6、每张保单总保额累计不超过8000万元，超过需要拆单投保。
                        7、保险公司认可医院为二级及以上公立医院，北京平谷地区医院除外；
                        8、本保险每张保单最低承保人数5人，投保批改全线上操作，无换人比例限制；
                        9、特殊行业投保人需参照“特殊行业承保政策（参见产品简介）”投保。
                    </pre>
                </td>

            </tr>
            <tr>
                <td class="container">
                    <h4>珠峰团体意外险</h4>
                    <hr>
                    <pre>
                        1、投保年龄为16至65岁；
                        2、可投保的人员职业等级为1-6类；
                        3、各职业等级保额限制：
                        意外伤害最高保额：1-2类职业为80万，3-4类职业为60万；5-6类职业为60万（5-6类职业投保40万-60万保额的，需通过4F人工核保渠道投保，并在备注中填写工种、工作地区、往年赔付情况）；
                        意外伤害最低保额：1-6类职业为10万；
                        4、保单特别约定：不得按低职业等级投保，
                        5、团单5人起保，可以换人；
                        6、特殊行业：矿上作业，金属加工，木材加工，高空作业（室外2米以上），幕墙安装，铸造，钢结构，石材加工切割，玻璃，广告牌安装架设，高压电作业；"
                        7、拒保行业：
                        ①所有有关石棉的工种 ②航空公司职员和机组人员 ③现役军队、武装部队、警察 ④职业运动员或运动队 ⑤试飞员、试驾员 ⑥任何速度竞赛 ⑦船员和潜水员 ⑧学前儿童意外险业务 ⑨从事采矿和隧道作业的团意险（包括地面作业）⑩生产、加工、储存、运输、使用和交易爆炸性
                        物质单位团意险 ⑪武打、替身及特技演员



                        特别约定：
                        1、每一款（无论份数）意外医疗急诊赔偿限额最高不超过3000元；
                        2、对于被保险人不满10周岁的，最高保险金额不得超过人民币20万元。 对于被保险人已满10周岁但未满18周岁的，最高保险金额不得超过人民币50万元；"
                        3、北京平谷，河北三河，天津滨海，天津静海，河南驻马店，辽宁铁岭，山东临沂（市医院除外）医疗机构不予赔付；
                        4、被保险人参加竞速运动（或活动）时发生的意外事故本保单不承担保险责任。
                        5、残疾程度与保险金给付比例：一级100%，二级90%，三级80%，四级70%，五级60%，六级50%，七级40%，八级30%，九级20%，十级10%。
                    </pre>
                </td>

            </tr>

        </table>
    </div>
</div>
<script src="../../../js/index1.js"></script>
</body>
</html>