<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>万众保险业务员端</title>
     <link rel="stylesheet" href="../../../css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../../../css/bootstrap.min.css">
    <script src="../../../js/jquery-1.11.1.js"></script>
    <script src="../../../js/bootstrap.min.js"></script>

    <style>
        li{
            list-style-type: none;
        }

        a:hover{
            text-decoration:none;
          color: #5bc0de;
        }


    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row">
     <div class="col-md-11">
	 <h5 style="padding-left: 2%">保险名录/4F其他产品/团体意外险</h5>
   
  
	  </div>
	  
    <div class="col-md-1">
	     <button id="back" class="btn btn-default">返回</button>
	  </div>
   </div>
    <script src="../../../js/index1.js"></script>
        <table class="table">

            <tr>
                <td class="container">
                    <h4>珠峰团体意外伤害保险</h4>
                    <hr>
                    <pre>
                    1、投保年龄为16至65岁；
                    2、可投保的人员职业等级为1-6类；
                    3、各职业等级保额限制：
                    意外伤害最高保额：1-2类职业为80万，3-4类职业为60万；5-6类职业为60万（5-6类职业投保40万-60万保额的，需通过4F人工核保渠道投保，并在备注中填写工种、工作地区、往年赔付情况）；
                    意外伤害最低保额：1-6类职业为10万；
                    4、保单特别约定：不得按低职业等级投保，
                    5、团单5人起保，可以换人；
                    6、特殊行业：矿上作业，金属加工，木材加工，高空作业（室外2米以上），幕墙安装，铸造，钢结构，石材加工切割，玻璃，广告牌安装架设，高压电作业；"
                    7、拒保行业：
                    ①所有有关石棉的工种 ②航空公司职员和机组人员 ③现役军队、武装部队、警察 ④职业运动员或运动队 ⑤试飞员、试驾员 ⑥任何速度竞赛 ⑦船员和潜水员 ⑧学前儿童意外险业务 ⑨从事采矿和隧道作业的团意险（包括地面作业）⑩生产、加工、储存、运输、使用和交易爆炸性
                    物质单位团意险 ⑪武打、替身及特技演员

                    特别约定：
                    1、每一款（无论份数）意外医疗急诊赔偿限额最高不超过3000元；
                    2、对于被保险人不满10周岁的，最高保险金额不得超过人民币20万元。 对于被保险人已满10周岁但未满18周岁的，最高保险金额不得超过人民币50万元；"
                    3、北京平谷，河北三河，天津滨海，天津静海，河南驻马店，辽宁铁岭，山东临沂（市医院除外）医疗机构不予赔付；
                    4、被保险人参加竞速运动（或活动）时发生的意外事故本保单不承担保险责任。
                    5、残疾程度与保险金给付比例：一级100%，二级90%，三级80%，四级70%，五级60%，六级50%，七级40%，八级30%，九级20%，十级10%。
                    </pre>
                </td>





            </tr>


        </table>
    </div>
</div>

</body>
</html>