<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>万众保险业务员端</title>
    <link rel="stylesheet" href="../../../css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../../../css/bootstrap.min.css">
    <script src="../../../js/jquery-1.11.1.js"></script>
    <script src="../../../js/bootstrap.min.js"></script>


    <style>
        li{
            list-style-type: none;
        }

        a:hover{
            text-decoration:none;
          color: #5bc0de;
        }


    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row">
     <div class="col-md-11">
	 <h5 style="padding-left: 2%">保险名录/4F其他产品/健康险</h5>
   
  
	  </div>
	  
    <div class="col-md-1">
	     <button id="back" class="btn btn-default">返回</button>
	  </div>
   </div>
    <script src="../../../js/index1.js"></script>
        <table class="table">

            <tr>
                <td class="container">
                    <h4>永安乐健一生中端医疗保险(团单)</h4>
                    <hr>
                    <pre>
                       被保险人年龄：新单投保年龄为出生满30天－64周岁；续保最高可到85周岁
                        保险期间：1年
                        保障责任：
                        涵盖住院（必选）、门诊（可选）、体检（可选）、牙科（可选）、生育（可选）
                        医疗场所要求：境内二级（含）及以上公立医疗机构
                        赔付比例：100%，不受社保目录限制
                        等待期：30天
                        保障方案：
                        方案一：年度保额20万，终身100万（只可以公立医院普通部门就诊）
                        方案二：年度保额50万，终身250万（可去公立医院特需部就诊）
                    </pre>
                </td>





            </tr>
            <tr>
                <td class="container">
                    <h4>永安乐健一生中端医疗保险(个单A款)</h4>
                    <hr>
                    <pre>

                       被保险人年龄：新单投保年龄为出生满30天－64周岁；续保不超过85周岁
                        保险期间：1年
                        保障责任：
                        涵盖住院（必选）、门诊（可选）、体检（可选）、牙科（可选）、生育（可选）
                        医疗场所要求：境内二级（含）及以上公立医疗机构
                        赔付比例：100%，不受社保目录限制
                        等待期：30天
                        保障方案：
                        方案一：年度保额20万，终身100万（只可以公立医院普通部门就诊）
                        方案二：年度保额50万，终身250万（可去公立医院特需部就诊）
                                            </pre>
                </td>

            </tr>



        </table>
    </div>
</div>

</body>
</html>