<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
      <!-- 引入外部文件 -->
        <properties resource="config/db.properties"></properties>
        
        <!-- 运行时设置 -->
         <settings>
          <setting name="mapUnderscoreToCamelCase" value="true"/>
          <setting name="jdbcTypeForNull" value="NULL"/>
           <setting name="cacheEnabled" value="true"/>
         </settings>
         
         <!-- 类型别名 包内批量命名 类名小写-->
          <typeAliases>
           <!-- <typeAlias type="com.entity.User" alias="user"/> -->
            <package name="com.entity"/>
          </typeAliases>
          
           <!-- <databaseIdProvider type="">
            <property name="Oracle" value="oracle"/>
             <property name="Mysql" value="mysql"/>
           </databaseIdProvider> -->
          <!-- 通过default 来决定使用那种环境 -->
          
<environments default="development">
       <!--  <environment id="test">
         <dataSource type=""></dataSource>
          <transactionManager type=""></transactionManager>
        </environment> -->
        
		<environment id="development">
		
				<transactionManager type="JDBC"/>
						<dataSource type="POOLED">
							<property name="driver" value="${jdbc.driver}"/>
							<property name="url" value="${jdbc.url}"/>
							<property name="username" value="${jdbc.user}"/>
							<property name="password" value="${jdbc.password}"/>
						</dataSource>
				</environment>
		</environments>
<mappers>
   
    
    
  <!-- 基于注解 -->
  <!-- 批量注册 注意同胞同名 -->
  
   <!-- <mapper class="com.dao.UserDao"/> -->
</mappers>
</configuration>