<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>万众保险业务员端</title>
    <link rel="stylesheet" href="../../../css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../../../css/bootstrap.min.css">
    <script src="../../../js/jquery-1.11.1.js"></script>
    <script src="../../../js/bootstrap.min.js"></script>



    <style>
        li{
            list-style-type: none;
        }

        a:hover{
            text-decoration:none;
          color: #5bc0de;
        }


    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row">
     <div class="col-md-11">
	 <h5 style="padding-left: 2%">保险名录/3F长期寿险电子保单类产品/投资理财险</h5>
   
  
	  </div>
	  
    <div class="col-md-1">
	     <button id="back" class="btn btn-default">返回</button>
	  </div>
   </div>
    <script src="../../../js/index1.js"></script>
        <table class="table">

            <tr>
                <td class="container">
                    <h4>渤海福鑫双足C款年金保险</h4>
                    <hr>
                    <pre>
                    投保年龄：18-70周岁（含）
                    交费方式：一次性交付
                    保险期间：10年
                    投保金额：最低保费: 1000元，以1000元递增

                    保险责任：
                    1、身故保险金：被保险人在合同保险期间内身故，保险公司按被保险人身故时合同累计已交纳保险费（不计利息）与被保险人身故时合同现金价值的较大者向身故保险金受益人给付身故保险金，合同终止。
                    2、生存保险金：自合同第六个保单周年日（含）起，至合同保险期间届满时止，在每一保单周年日若被保险人生存，保险公司按合同累计已交纳保险费（不计利息）的1%向生存保险金受益人给付一次生存保险金。
                    3、满期保险金：被保险人在合同保险期间届满时生存，保险公司按合同的基本保险金额向满期保险金受益人给付满期保险金，合同终止。

                    特别说明：
                    1、本产品投被保人为同一人。
                    2、本产品免职业核保，免体检，免健康告知。
                    </pre>
                </td>





            </tr>


        </table>
    </div>
</div>

</body>
</html>