<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>万众保险业务员端</title>
     <link rel="stylesheet" href="../../../css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../../../css/bootstrap.min.css">
    <script src="../../../js/jquery-1.11.1.js"></script>
    <script src="../../../js/bootstrap.min.js"></script>

    <style>
        li{
            list-style-type: none;
        }

        a:hover{
            text-decoration:none;
          color: #5bc0de;
        }


    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row">
     <div class="col-md-11">
	 <h5 style="padding-left: 2%">保险名录/3F长期寿险电子保单类产品/重大疾病险</h5>
   
  
	  </div>
	  
    <div class="col-md-1">
	     <button id="back" class="btn btn-default">返回</button>
	  </div>
   </div>
    <script src="../../../js/index1.js"></script>
        <table class="table">

            <tr>
                <td class="container">
                    <h4>渤海e家重大疾病保险</h4>
                    <hr>
                    <pre>
                      主险：渤海e家终身重大疾病保险



                    投保年龄：30天至65周岁（含）



                    可选交费年期：趸交、3年、5年、10年、15年、20年



                    保险期间：终身



                    保障责任：
                    1.	80种重大疾病保障
                    2.	35种轻症疾病保障
                    3.	身故保障
                    4.	全残保障
                    5.	疾病终末期保障
                    6.	35种轻症保费豁免保障



                    附加险：渤海e家附加投保人豁免保险费重大疾病保险



                    投保年龄：18周岁至60周岁（含）



                    注：主险投保人和被保险人不为同一人时可投保
                    保险责任：
                    1.	35种轻症轻症疾病豁免保费
                    2.	80种重大疾病豁免保费
                    3.	身故豁免保费
                    4.	全残豁免保费



                    投保规则及流程请参见“投保材料”
                    </pre>
                </td>





            </tr>


        </table>
    </div>
</div>

</body>
</html>